{%- assign semdat = "" -%}
{%- assign cur = site.data.teaching.all.in_session_term -%}
{%- assign semdat = site.data.teaching.all.semesters | where: "semester", cur.semester -%}

<div class="card m-2">
  <h3 class="card-header">
    Schedule for this Semester
  </h3>
  <div class="card-body">
    {% include teaching/weekly_grid.html %}
  </div>
</div>

<div class="card m-2">
  <h3 class="card-header">
    Important Dates
  </h3>
  <div class="card-body">
    <ul>
      <li>First day of term: {{ semdat[0].term_start | date: '%a-%d-%b-%Y'}}</li>
    	<li>Last day of classes: {{ semdat[0].class_end | date: '%a-%d-%b-%Y'}}</li>
      <li>Last day of term: {{ semdat[0].term_end | date: '%a-%d-%b-%Y'}}</li>
    </ul>
  </div>
</div>

{%- assign offs = "" -%}
{%- assign offs = site.data.teaching.offerings | where: "semester", cur.semester -%}
{% if offs.size > 0 %}
<div class="card m-2">
  <h3 class="card-header">
    Courses Taught this Semester
  </h3>
  <div class="card-body">
    <ul>
    {% for o in offs %}
      <li>
        {%- assign crss = site.data.teaching.all.courses | where: "id", o.id -%}
        {% capture off_url %}/teaching/{{ o.id }}/{{ cur.semester }}{% endcapture %}
        <a href="{{ off_url | relative_url }}">
          {{ crss[0].id | replace: "-"," " }} : {{ crss[0].name }}
        </a>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endif %}

{% if semdat[0].office_hours %}
<div class="card m-2">
  <h3 class="card-header">
    Office Hours this Semester
  </h3>
  <div class="card-body">
    <ul>
    {%- for oh in semdat[0].office_hours -%}
      <li>
        {{ oh.day }} from
        {{ oh.start | date: '%H:%M'}} until
        {{ oh.end | date: '%H:%M'}}
      </li>
    {%- endfor -%}
    </ul>
    <p>
      During my office hours, I will be available in my office (CW 308.22) and via zoom.
      If you need to speak with me outside of my office hours, please
      <a href="mailto:{{ site.email }}?subject=Request for an appointment outside of office hours">
        request an appointment.
      </a>
    </p>
  </div>
</div>
{% endif %}
