{% include teaching/url.html %}

{% assign asgnfile = site.data.teaching[jcrs_id][crs_sem]assignments %}
{% if asgnfile %}
<div class="card" id="asgn-card">
  <div class="card-header" role="tab" id="heading_AS">
    <h3 class="mb-0">
      <a class="xtra collapsed" data-toggle="collapse"
      href="#collapse_AS" role="button"
      aria-expanded="false" aria-controls="collapse_AS">
        Assignments
      </a>
    </h3>
  </div>
  <div id="collapse_AS" class="collapse"
  aria-labelledby="heading_AS">
    <div class="card card-body">
    {% assign i_asgn = "" %}
    {% assign p_asgn = "" %}
    {% assign g_asgn = "" %}
    {% for aa in asgnfile %}
      {% assign fla = aa.aid | slice: 0 %}
      {% if fla == "I" %}
        {% capture i_asgn %}{{ i_asgn }}#{{ aa.aid }}!{{ aa.title }}{% endcapture %}
      {% endif %}
      {% if fla == "P" %}
        {% capture p_asgn %}{{ p_asgn }}#{{ aa }}{% endcapture %}
      {% endif %}
      {% if fla == "G" %}
        {% capture g_asgn %}{{ g_asgn }}#{{ aa }}{% endcapture %}
      {% endif %}
    {% endfor %}
    {% include offering/asgn-by-type.html label='Individual' list=i_asgn id='IAS' %}
    {% include offering/asgn-by-type.html label='Project' list=p_asgn id='PAS' %}
    {% include offering/asgn-by-type.html label='Group' list=g_asgn id='GAS' %}
    </div>
  </div>
</div>
{% endif %}
<script>
const params = new URLSearchParams(location.search)
let asgn = params.get('asgn')
if (asgn !== null) {
  document.getElementById('collapse-' + asgn).classList.toggle('show')
  let asgn_elem = document.getElementById('collapse-' + asgn)
}
</script>
