{% include teaching/url.html %}

{% assign asgnfile = site.data.teaching[joff_id]assignments %}
{% if asgnfile %}
<div class="card" id="asgns-card">
  <div class="card-header" role="tab" id="heading_AS">
    <h3 class="mb-0">
      <a class="xtra collapsed" data-toggle="collapse"
      href="#collapse_AS" role="button"
      aria-expanded="false" aria-controls="collapse_AS">
        Assignments
      </a>
    </h3>
  </div>
  <div id="collapse_AS" class="collapse"
  aria-labelledby="heading_AS">
    <div class="card card-body">
    </div>
  </div>
{% else %}
<div class="card my-2">
  <span class="d-inline d-md-none">
    <span class="btn card-header w-100" role="button" data-toggle="collapse" data-target="#asgnBody">
      <h3>
        Assignments
        <!-- &plus; <span class="fas fa-plus fa-3x"></span> -->
      </h3>
    </span>
  </span>
  <span class="d-none d-md-inline">
    <h3 class="card-header">
      Assignments <!--<span class="fas fa-plus fa-3x"></span>-->
    </h3>
  </span>
  <div class="collapse d-md-inline card-body bg-transparent" id="asgnBody">
    <div class="card my-2" id="individual-asgn-card">
      <h5 class="card-header text-center">Individual</h5>
      <div class="card-body">
        <ul class="list-group list-group-flush">
        {% for sdta in site.data.teaching.assignments[joff_id] %}
          {% assign fla = sdta.aid | slice: 0 %}
          {% if fla == "I" %}
          <li class="list-group-item btn btn-link" role="button">
            <a href="assignments.html?asgn={{ sdta.aid }}">
            <div class="row align-items-center justify-content-between">
              <div class="col-auto mr-auto d-inline">
                {{ sdta.title }}
              </div>
              <div class="col-auto ml-auto d-inline">
                Due: {{ sdta.duedate }} @ 23:59
              </div>
            </div>
            </a>
          </li>
          {%- endif -%}
        {%- endfor -%}
        </ul>
      </div>
    </div>
    <div class="card my-2" id="project-asgn-card">
      <h5 class="card-header text-center">Project</h5>
      <div class="card-body">
        <ul class="list-group list-group-flush">
        {% for sdta in site.data.teaching.assignments[joff_id] %}
          {% assign fla = sdta.aid | slice: 0 %}
          {% if fla == "P" %}
          <li class="list-group-item btn btn-link" role="button">
            <a href="assignments.html?asgn={{ sdta.aid }}">
            <div class="row align-items-center justify-content-between">
              <div class="col-auto mr-auto d-inline">
                {{ sdta.title }}
              </div>
              <div class="col-auto ml-auto d-inline">
                Due: {{ sdta.duedate }} @ 23:59
              </div>
            </div>
            </a>
          </li>
          {%- endif -%}
        {%- endfor -%}
        </ul>
      </div>
    </div>
    <div class="card my-2" id="group-asgn-card">
      <h5 class="card-header text-center">Group</h5>
      <div class="card-body">
        <ul class="list-group list-group-flush">
        {% for sdta in site.data.teaching.assignments[joff_id] %}
          {% assign fla = sdta.aid | slice: 0 %}
          {% if fla == "G" %}
          <li class="list-group-item btn btn-link" role="button">
            <a href="assignments.html?asgn={{ sdta.aid }}">
            <div class="row align-items-center justify-content-between">
              <div class="col-auto mr-auto d-inline">
                {{ sdta.title }}
              </div>
              <div class="col-auto ml-auto d-inline">
                Due: {{ sdta.duedate }} @ 23:59
              </div>
            </div>
            </a>
          </li>
          {%- endif -%}
        {%- endfor -%}
        </ul>
      </div>
    </div>
  </div>
</div>
<!--</div>/* asgn_elem.scrollIntoView() */
</div>-->
{% endif %}
{% endif %}
<!-- -->
<script>
const params = new URLSearchParams(location.search)
let asgn = params.get('asgn')
if (asgn !== null) {
  document.getElementById('collapse-' + asgn).classList.toggle('show')
  let asgn_elem = document.getElementById('collapse-' + asgn)
}
</script>
<!-- -->
