{%- if site.data.teaching.media[joff_id] and off_now == 1 -%}
<div class="card my-2" id="media-card">
  <h3 class="card-header text-center">Media</h3>
  <div class="card-body">
  {% assign ctr = 0 | plus: 0 %}
  {% assign mctr = 0 | plus: 0 %}
  {% for m in site.data.teaching.meetings[joff_id] %}
    {% assign hasMedia = "" %}
    {% for r in site.data.teaching.media[joff_id] %}
      {% if m.meeting == r.meet %}
        {% assign hasMedia = "true" %}
        {% break %}
      {% endif %}
    {% endfor %}
    {% if hasMedia == "true" %}
      {% assign mdate = m.file | slice: 3,9 %}
      {% assign ctr = ctr | modulo: 3 %}
      {% if ctr == 0 %}
      <div class="card-deck">
      {% endif %}

      {% assign odate = mdate | date: "%d %b" %}
      {% assign mctr = mctr | plus: 1 %}
      {% assign mctrstr = m.meeting | prepend: '00' | slice: -2, 2 %}
      {% capture mtgt %}{{ odate }} : {{ mctrstr }}{% endcapture %}
      {% include meetings/media.html mtg_media=joff_id mtg=m.meeting mtg_title=mtgt %}

      {% if ctr == 2 %}
      </div>
      {% endif %}
      {% assign ctr = ctr | plus: 1 %}
    {% endif %}
  {% endfor %}
  {% if ctr == 1 %}
        <div class="card"></div>
    {% assign ctr = ctr | plus: 1 %}
  {% endif %}
  {% if ctr == 2 %}
        <div class="card"></div>
    {% assign ctr = ctr | plus: 1 %}
  {% endif %}
  </div>
</div>
{%- endif -%}
