{% comment %}
  Create a calendar card for a course offering.
  Relies on 2 files (offerings.csv and semesters.csv in _data/teaching/)
  to place meetings in weeks Sunday-Saturday.
{% endcomment %}
{% assign days = "Sun, Mon, Tue, Wed, Thu, Fri, Sat" | split: ", " %}
{% assign dabbr = "S, M, T, W, R, F, S" | split: ", " %}
{% assign odd = 86400 | minus: 0 %}
{% capture crs_id %}{{ crs_sbj }}-{{ crs_nbr | strip }}{% endcapture %}
{%- if site.data.teaching.offerings -%}
  {% for o in site.data.teaching.offerings %}
    {% if o.id == crs_id and o.semester == crs_sem %}
      {% assign mdays = o.mdays | split: "," %}
      {% assign final_exam = o.final-exam | date: "%a, %b %e, %Y @ %H:00" | date: "%s" %}
      {% assign festr = o.final-exam %}
    {% endif %}
  {% endfor %}
{%- endif -%}
{%- if site.data.teaching.semesters -%}
  {% for s in site.data.teaching.semesters %}
    {% if s.semester == crs_sem %}
      {% assign sotts = s.term-start | date: "%e-%b-%y" | date: "%s" %}
      {% assign sotd = s.term-start | date: "%e-%b-%y" | date: "%a" %}
      {% assign eocts = s.class-end | date: "%e-%b-%y" | date: "%s" %}
      {% assign eotts = s.term-end | date: "%e-%b-%y" | date: "%s" %}
      {% assign nomeet = s.no-class-days | split: ","  %}
    {% endif %}
  {% endfor %}
{%- endif -%}
{% for di in (0..6) %}
  {% if days[di] == sotd %}
    {% assign sotdelta = odd | times: di %}
    {% assign wsotts = sotts | minus: sotdelta %}
    {% break %}
  {% endif %}
{% endfor %}
{{ eocts }}
<div class="card my-2">
  <h3 class="card-header text-center">Meetings</h3>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr class="d-flex bg-info">
            <th class="col d-none d-sm-inline">
              <span class="d-none d-sm-inline d-md-none">Wk</span>
              <span class="d-none d-md-inline">Week</span>
            </th>
{% for di in (0..6) %}
  {% if di == 0 or di == 6 %}
            <th class="col d-none d-sm-inline">
  {% else %}
            <th class="col">
  {% endif %}
              <span class="d-inline d-md-none">{{ dabbr[di] }}</span>
              <span class="d-none d-md-inline">{{ days[di] }}</span>
            </th>
{% endfor %}
          </tr>
        </thead>
{% assign day = wsotts | plus: 0 %}
{% assign dayone = sotts | plus: 0 %}
{% assign eoc = eocts | plus: 0 %}
{% assign eot = eotts | plus: 0 %}
{% assign fedt = final_exam | plus: 0 %}
{% assign mctr = 0 %}
{% assign nmc = "true" %}
        <tbody>
{% for week in (1..26) %}
          <tr class="d-flex">
            <th class="col bg-info d-none d-sm-inline">
              {{ week }}
            </th>
  {% for di in (0..6) %}
    {% if day >= dayone and day <= eoc %}
      {% assign nmc = "false" %}
    {% endif %}
    {% if day > eoc %}
      {% assign nmc = "true" %}
    {% endif %}
    {% assign odate = day | date: "%d %b" %}
    {% if nomeet contains odate %}
      {% capture tabdat %}&mdash;{% endcapture %}
    {% else %}
      {% if mdays contains days[di] %}
        {% if nmc != "true" %}
          {% assign mdby = day | date: "%d-%b-%y" %}
          {% assign mctr = mctr | plus: 1 %}
          {% assign mctrstr = mctr | prepend: '00' | slice: -2, 2 %}
          {% comment %} read the title from the page and change text if Midterm{% endcomment %}
          {% capture tabdat %}<a href="meetings/{{mctrstr}}_{{mdby}}.html">{{mctrstr}}<span class="d-none d-md-inline"> : {{odate}}</span></a>{% endcapture %}
        {% else %}
          {% assign nxtday = day | plus: odd %}
          {% comment %}{% endcomment %}
          {% if fedt >= day and fedt < nxtday %}
            {% assign fea = festr | split: " " %}
            {% capture tabdat %}<span class="d-inline d-md-none">FX</span><span class="d-none d-md-inline">FINAL EXAM @ {{ fea.last }}</span>{% endcapture %}
          {% else %}
            {% capture tabdat %}{% endcapture %}
          {% endif %}
          {% comment %}{% endcomment %}
        {% endif %}
      {% else %}
        {% capture tabdat %}{% endcapture %}
      {% endif %}
    {% endif %}
    {% if di == 0 or di == 6 %}
            <td class="col d-none d-sm-inline">
    {% else %}
            <td class="col">
    {% endif %}
              {{ tabdat }}
            </td>
    {% assign day = day | plus: odd %}
  {% endfor %}
          </tr>
  {% if day > eot %}
    {% break %}
  {% endif %}
{% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <h5 class="card-footer text-center text-muted">Total meetings this semester: {{ mctr }}</h5>
</div>
