{% include teaching/url.html %}
{% assign tlooff = site.data.teaching.tlo[joff_id] %}
{%- if tlooff -%}
<div class="card my-2">
  <h3 class="card-header text-center">Knowledge Units</h3>
  <div class="card-body scrollable">
    <ul class="list-group list-group-flush">
    {%- for ku in tlooff -%}
      {%- assign kk = ku[0] | split: "/" -%}
      {%- assign kkaa = kk[0] -%}
      {%- assign kkuu = kk[1] -%}
      <li class="list-group-item">
        {%- capture ku_url -%}/teaching/curriculum/2013/{{kkaa}}/{{kkuu}}/{%- endcapture -%}
        {% capture kuti %}{{ kkuu | replace: "--",", " | replace: "-"," " | replace: "_","-" | slice: 3, kkuu.size }}{% endcapture %}
        <a href="{{ ku_url | relative_url }}">
          {{ kkaa }} / {{ kuti }}
        </a>
      </li>
      {%- assign kk_dat = site.data.teaching.CS2013[kkaa][kkuu] -%}
      {%- for kd in kk_dat.topics -%}
        {%- assign topspec = 1 -%}
        {%- if ku[1].spectop -%}
          {%- assign topspec = 0 -%}
          {%- for st in ku[1].spectop -%}
            {%- if kd.label == st -%}
              {%- assign topspec = 1 -%}
              {%- break -%}
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
        {%- if topspec == 1 -%}
          <div>
        {%- else -%}
          <div class="text-muted">
        {%- endif -%}
        <li>{{ kd.desc }}
        {%- assign tin = kd.import | minus: 0 -%}
        &nbsp;
        {%- for ss in (tin..2) -%}
          &starf;
        {%- endfor -%}
        {%- if kd.details -%}
          <ol>
          {%- for td in kd.details -%}
            <li>{{ td }}</li>
          {%- endfor -%}
          </ol>
        </li>
        {%- else -%}
        </li>
        {%- endif -%} {%comment%}top.details {%endcomment%}
        </div>
      {%- endfor -%}{%comment%}for topics {%endcomment%}
      </div>
    {% endfor %}
    </ul>
  </div>
</div>
{%- endif -%}
