# Assignments

{% include teaching-url.html %}
{% if site.data.teaching.assignments[off_med] %}
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingZero">
      <h3 class="mb-0">
        <button class="btn" type="button" data-toggle="collapse" data-target="#collapseZero" aria-expanded="false" aria-controls="collapseZero">
          Title
        </button>
          Type, Marks, Due Date
      </h3>
    </div>
    <div id="collapseZero" class="collapse" aria-labelledby="headingZero" data-parent="#accordionExample">
    </div>
  </div>
  {% assign colctr = 0 %}
  {% for sdta in site.data.teaching.assignments[off_med] %}
    {% for sa in site.assignments %}
      {% if sa.title == sdta.title %}
        {% assign cm = sa.marks | plus: 0 %}
        {% assign oam = sdta.marks | plus: 0 %}
        {% if cm == oam %}
        <div class="card">
          <div class="card-header" id="heading_{{colctr}}">
            <h3 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-{{colctr}}" aria-expanded="false" aria-controls="collapse-{{colctr}}">
                {{ sdta.title }}
              </button>
                {{ sdta.type }}, {{ sdta.marks }} marks, due: {{ sdta.duedate }}
            </h3>
          </div>
          <div id="collapse-{{colctr}}" class="collapse" aria-labelledby="heading-{{colctr}}" data-parent="#accordionExample">
            <div class="card-body">
              {{ sa.content | markdownify }}
            </div>
          </div>
        </div>
        {% assign colctr = colctr | plus: 1 %}
    {% endif %}
  {% endif %}
  {% endfor %}
{% endfor %}
</div>
  {% endif %}
