<h3>Learning Outcomes</h3>
<ul>
  {% for pf in page.focus %}
  <li>
    {% assign kaku = site.data.teaching.CC2013[pf.ka][pf.ku] %}
    {% for o in kaku.outcomes %}
      {% if o.label == pf.outcome %}
        {% capture outurl %}/teaching/curriculum/2013/{{pf.ka}}.html{% endcapture %}
        <a href="{{ outurl | relative_url }}#{{ pf.ku }}-{{ o.label }}">
          {{ o.desc }}
        </a>
        {% break %}
      {% endif %}
    {% endfor %}
    ( {{ pf.ka }} {{ pf.ku | slice: 3, pf.ku.size }} )
  </li>
  {% endfor %}
</ul>
