{{ page.url }}
{% assign kaaa = page.url | split: "/" | last | remove: ".html" %}
{{ kaaa}}
{% assign fili = "" %}
{%- for tlo in site.data.teaching.CC2013[kaaa] -%}
    {% capture fili %}{{ fili }},{{ tlo[0] }}{% endcapture %}
{%- endfor -%}
{% assign sfil = fili | split: "," | sort %}

{%- for sf in sfil offset: 2 -%}
  {%- assign tlo_dat = site.data.teaching.CC2013[kaaa][sf] -%}
  {%- if tlo_dat -%}
<div class="card" id="know{{ctr}}">
  <div class="card-header">
    <h3>{{ sf | replace: "--",", " | replace: "-"," " | replace: "_","-" | slice: 3, sf.size }}</h3>
	</div>
	<div class="card-body">
    {{ sf.preamble }}
    {% if sf.preamble %}
    <div class="row mx-1">
      <h5>sf.preamble.name</h5><br />
      <p>
        {{ sf.preamble.desc }}
      </p>
    </div>
    {% endif %}

	  <div class="row">
	    <div class="col-md-6">
	      <h5>Topics</h5>
	      <ol>
        {% if tlo.spectop %}
          {% for st in tlo.spectop %}
            {%- for top in tlo_dat.Topics -%}
              {%- if st == top.label -%}
                {%- if top.details -%}
                  <li>{{ top.desc }}
                    <ol>
                      {%- for td in top.details -%}
                        <li>{{ td }}</li>
                      {%- endfor -%}
                    </ol>
                  </li>
                {%- else -%}
                  <li>{{ top.desc }}</li>
                {%- endif -%} {%comment%}top.details {%endcomment%}
              {%- endif -%} {%comment%}st == top.label {%endcomment%}
            {%- endfor -%} {%comment%}for top {%endcomment%}
          {%- endfor -%}{%comment%}for spectop {%endcomment%}
        {%- else -%}
          {%- for top in tlo_dat.Topics -%}
              {%- if top.details -%}
                <li>{{ top.desc }}
                  <ul>
                    {%- for td in top.details -%}
                      <li>{{ td }}</li>
                    {%- endfor -%}
                  </ul>
                </li>
              {%- else -%}
                <li>{{ top.desc }}</li>
              {%- endif -%} {%comment%}top.details {%endcomment%}
          {%- endfor -%} {%comment%}for top {%endcomment%}
        {%- endif -%}
	      </ol>
	    </div>
	    <div class="col-md-6">
	      <h5>Learning Outcomes</h5>
	      <ol>
        {% if tlo.speclo %}
          {% for slo in tlo.speclo %}
            {%- for lout in tlo_dat.Learning-Outcomes -%}
              {%- if slo == lout.label -%}
                {%- if lout.details -%}
                  <li>{{ lout.desc }}
                    <ol>
                      {%- for lod in lout.details -%}
                        <li>{{ lod }}</li>
                      {%- endfor -%}
                    </ol>
                  </li>
                {%- else -%}
                  <li>{{ lout.desc }}</li>
                {%- endif -%} {%comment%}lout.details {%endcomment%}
              {%- endif -%} {%comment%}slo == lout.label {%endcomment%}
            {%- endfor -%} {%comment%}for lout {%endcomment%}
          {%- endfor -%}{%comment%}for speclo {%endcomment%}
          {%- else -%}
            {%- for lout in tlo_dat.Learning-Outcomes -%}
                {%- if lout.details -%}
                  <li>{{ lout.desc }}
                    <ol>
                      {%- for lod in lout.details -%}
                        <li>{{ lod }}</li>
                      {%- endfor -%}
                    </ol>
                  </li>
                {%- else -%}
                  <li>{{ lout.desc }}</li>
                {%- endif -%} {%comment%}lout.details {%endcomment%}
            {%- endfor -%} {%comment%}for lout {%endcomment%}
          {%- endif -%}
	      </ol>
	    </div>
	</div>
	</div>
	</div>
	{%- assign ctr  = ctr | plus: 1 -%}
  {%- endif -%}
{%- endfor -%}
{% comment %}{% endcomment %}
