_site
_site/*
.sass-cache
*.gem
vendor
vendor/*
0_nonweb/*
1_offweb/*
*/0_nonweb/*
*/*/0_nonweb/*
deploy_rsa
deploy_rsa.pub
teaching/0_nonweb
teaching/schedule/0_nonweb
teaching/CS-205/0_nonweb
teaching/CS-205/201910/0_nonweb
teaching/CS-280/0_nonweb
teaching/CS-280/201910/0_nonweb
teaching/CS-428+828/0_nonweb
teaching/CS-428+828/201630/0_nonweb
teaching/CS-428+828/201730/0_nonweb
teaching/CS-428+828/201830/0_nonweb
