_site
_deploy
_site/*
_deploy/*
.sass-cache
*.gem
vendor
vendor/*
0_nonweb/*
1_offweb/*
*/0_nonweb/*
*/*/0_nonweb/*
deploy_rsa
deploy_rsa.pub
_includes/.works-nav-transp.html.swp
teaching/0_nonweb
teaching/CS-428+828/0_nonweb
teaching/CS-428+828/201630/0_nonweb
teaching/CS-428+828/201730/0_nonweb
teaching/CS-428+828/201830/0_nonweb
teaching/schedule/0_nonweb/
_deploy/research/works/2007-06-Hep-Software-for-Systematic-and-Imaginative-Exploration.html
