{% comment %}
    Updated for boostrap 4 (https://getbootstrap.com/docs/4.0/components/breadcrumb/) and
    does not create a link for the last (active) item
{% endcomment %}
{% assign url_parts = page.url | split: '/' %}
{% assign target_size = url_parts.size | plus: 1 %}
{% assign projs = "" %}
{% for sp in site.pages %}
    {% if sp.url contains page.url and sp.url > page.url %}
      {% assign sp_parts = sp.url | split: '/' %}
        {% if sp_parts.size == target_size %}
          {% capture projs %}{{ projs }}{{sp.url}}!{{ sp_parts | last }}#{% endcapture %}
        {% endif %}
    {% endif %}
{% endfor %}
{% assign sortedprojs = projs | split: '#' | sort %}
{% assign numprojs = sortedprojs.size | minus: 1 %}
  <ul class="list-group list-group-flush">
{% for i in (1..numprojs) %}
  {% assign spun = sortedprojs[i] | split: '!' %}
  {% assign words = spun[1] | replace: "-"," " | split: " " %}
  {% assign leave = 0 %}
  {% for word in words %}
    {% assign leave = 0 %}
    {% if (word == "bus") %}
      {% assign words = "The BUS PROJECT" | split: " " %}
      {% assign leave = 1 %}
      {% break %}
    {% endif %}
    {% if (word == "cogito") %}
      {% assign leave = 1 %}
    {% endif %}
    {% if (word == "cs") %}
      {% assign words = "CS Education"| split: " " %}
      {% assign leave = 1 %}
      {% break %}
    {% endif %}
    {% if (word == "ur50cs") %}
      {% assign words = "UR50CS" | split: " " %}
      {% assign leave = 1 %}
    {% endif %}
    {% if (word == "worth") %}
      {% assign words = "A Picture's Worth"| split: " " %}
    {% endif %}
  {% endfor %}
  {% if leave == 0 %}
    {% capture titlecase %}{% for word in words %}{{ word | capitalize }} {% endfor %}{% endcapture %}
  {% else %}
    {% capture titlecase %}{% for word in words %}{{ word }} {% endfor %}{% endcapture %}
  {% endif %}
      <li class="list-group-item">
        <a href="{{ spun[0] | relative_url }}">
          {{ titlecase | strip }}
        </a>
      </li>
{% endfor %}
    </ul>
