{%- include teaching/url.html %}

<div class="card">
  <!-- Meeting Date as card header -->
  <div class="card card-header lightcthru">
    <h1>
      {{ include.md | date: '%a-%d-%b-%Y' }}
    </h1>
  </div>
  <div class="card card-body">
  {%-  assign lvl = 'h5'  %}

  {%- assign tfile = site.data.teaching[jcrs_id][crs_sem]summary[mtn] %}
  {%- if tfile != nil -%}
    {%-
      include helper/pd-card.html
      test=tfile label="Summary of this Meeting" level=lvl
      pass='y' mtg=mtn open='n' id='MTGRECORD'
      body='meetings/transcript-body.html'
    -%}
  {%- endif %}
  </div>
</div>
