{% include teaching/url.html %}
{% if site.data.teaching.assignments[joff_id] %}
<div class="card" id="assign-card">
  <h3 class="card-header text-center">Assignments</h3>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr class="d-flex bg-info">
            <th class="col-6">
              Name
            </th>
            <th class="col-3">Marks</th>
            <th class="col-3">Due Date</th>
          </tr>
        </thead>
        <tbody>
        {% for sdta in site.data.teaching.assignments[joff_id] %}
          {% for sa in site.assignments %}
            {% if sa.title == sdta.title %}
              {% assign cm = sa.marks | plus: 0 %}
              {% assign oam = sdta.marks | plus: 0 %}
              {% if cm == oam %}
          <tr class="d-flex">
            <td class="col-6">
              <a href="assignments.html?asgn={{ sdta.id }}">{{ sdta.title }}</a>
            </td>
            <td class="col-3">
              {{ sdta.marks }}
            </td>
            <td class="col-3">
              {{ sdta.duedate }}
            </td>
          </tr>
          {% endif %}
          {% break %}
        {% endif %}
      {% endfor %}
    {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endif %}
