{% comment %}
  {% include teaching/url.html %}
{% endcomment %}
{% capture exam_url %}/assets/teaching/pdf/{{ crs_id }}{% endcapture %}

{%- if off_now == true -%}
<h4>
  In {{ crs_sem }}:
</h4>
  {%- assign planfile = site.data.teaching[jcrs_id][crs_sem]plan -%}
  {%- for entry in planfile -%}
    {%- if entry[0] == 'offering' -%}
    <ul>
      {%- if entry[1].midterm_exam -%}
      <li>
        Midterm:
        {%- for me in entry[1].midterm_exam -%}
        &nbsp;{{ me }}
        {%- endfor -%}
      </li>
      {%- endif -%}
      {%- if entry[1].final_exam -%}
      <li>
        Final: {{ entry[1].final_exam }}
      </li>
      {%- endif -%}
    </ul>
    {%- endif -%}
    {%- break -%}
  {%- endfor -%}
{%- endif -%}
{% assign prevexams = "" %}
{% for sp in site.static_files reversed %}
  {% if sp.path contains exam_url and sp.path contains "exam" %}
    {% capture prevexams %}{{ prevexams }}#{{ sp.path }}{% endcapture %}
  {% endif %}
{% endfor %}
{%- if prevexams.size > 0 -%}
<h4>
  From previous offerings:
</h4>
<ul>
  {% assign epaths = prevexams | split: '#' %}
  {% for i in (0..epaths.size) %}
    {%- if epaths[i].size > 0 -%}
      {%- assign efn = epaths[i] | split: "/" | last | remove: ".pdf"-%}
      {%- assign efn_parts = efn | split: "_" %}
      {%- assign esem = efn_parts[0] | split: "-" %}
      {%- assign etype = efn_parts[1] | split: "-" %}
      {%- if esem[2] != crs_sem -%}
  <li>
    <a href="{{ epaths[i] | relative_url }}">
      {{ esem[2] }} {{ etype[2] | capitalize }}
    </a>
  </li>
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
</ul>
{%- endif -%}
