{% include teaching/url.html %}

<style>
table, th, td {
  border: solid;
}
</style>
{% assign fbf = include.fbdata[1] %}
{% assign itemtxt = "The instructor is well-prepared for class,The instructor clearly communicates their expectations for student preparation and participation,The instructor uses class time effectively,The instructor has clear expectations for assigned work,The instructor encourages student participation,The instructor clearly answers questions,The instructor treats students with respect,The instructor effectively directs and stimulates discussion,The instructor effectively encourages students to ask questions and give answers" | split: ',' %}
{% assign iti = 0 %}
{%- for summgrp in fbf.summary -%}
  {% if summgrp.group == "LK" %}
  <table style="width: 100%;">
    <thead>
      <th class="align-middle text-end px-2" style="width: 50%;">Item</th>
      <th class="align-middle text-center">Never</th>
      <th class="align-middle text-center">Rarely</th>
      <th class="align-middle text-center">Sometimes</th>
      <th class="align-middle text-center">Often</th>
      <th class="align-middle text-center">Always</th>
    </thead>
    <tbody>
        {% for item in summgrp.items %}
        <tr>
          <td class="align-middle text-end px-2">{{itemtxt[iti]}}</td>
          <td class="align-middle text-center">{{item.1_Never}}</td>
          <td class="align-middle text-center">{{item.2_Rarely}}</td>
          <td class="align-middle text-center">{{item.3_Sometimes}}</td>
          <td class="align-middle text-center">{{item.4_Often}}</td>
          <td class="align-middle text-center">{{item.5_Always}}</td>
        </tr>
        {% assign iti = iti | plus: 1 %}
        {% endfor %}
      {% endif %}
      {% if summgrp.group == "all" %}
        {% assign item = summgrp.items | first %}
        <tr>
          <th class="align-middle text-end px-2">Totals</th>
          <th class="align-middle text-center">{{item.1_Never}}</th>
          <th class="align-middle text-center">{{item.2_Rarely}}</th>
          <th class="align-middle text-center">{{item.3_Sometimes}}</th>
          <th class="align-middle text-center">{{item.4_Often}}</th>
          <th class="align-middle text-center">{{item.5_Always}}</th>
        </tr>
      </tbody>
    </table>
    <ul>
      <li>Average rating: {{item.wholeWeightedDCavg | round: 2}}</li>
    </ul>
    {% endif %}
  {% endfor %}
  {% for r in fbf.responses %}
  <div style="border: solid;" class="card m-2">
    <div class="card-header">
      <h5>
        Respondent {{ r.respondent }}
      </h5>
    </div>
    <div class="card-body">
      <ol>
        <li>
          The instructor is well-prepared for class.
          <p>
            <strong>
              {{ r.LKI1 }}
            </strong>
          </p>
        </li>
        <li>
          The instructor clearly communicates their expectations for student preparation and participation.
          <p>
            <strong>
              {{ r.LKI2 }}
            </strong>
          </p>
        </li>
        <li>
          The instructor uses class time effectively.
          <p>
            <strong>
              {{ r.LKI3 }}
            </strong>
          </p>
        </li>
        <li>
          The instructor has clear expectations for assigned work.
          <p>
            <strong>
              {{ r.LKI4 }}
            </strong>
          </p>
        </li>
        <li>
          The instructor encourages student participation.
          <p>
            <strong>
              {{ r.LKI5 }}
            </strong>
          </p>
        </li>
        <li>
          The instructor clearly answers questions.
          <p>
            <strong>
              {{ r.LKI6 }}
            </strong>
          </p>
        </li>
        <li>
          The instructor treats students with respect.
          <p>
            <strong>
              {{ r.LKI7 }}
            </strong>
          </p>
        </li>
        <li>
          The instructor effectively directs and stimulates discussion.
          <p>
            <strong>
              {{ r.LKI8 }}
            </strong>
          </p>
        </li>
        <li>
          The instructor effectively encourages students to ask questions and give answers.
          <p>
            <strong>
              {{ r.LKI9 }}
            </strong>
          </p>
        </li>
      </ol>
      <ul>
        <li>
          What do you like best about this course?
          <p>
            <strong>
              {{ r.OEI1 }}
            </strong>
          </p>
        </li>
        <li>
          What would you like to change about this course?
          <p>
            <strong>
              {{ r.OEI2 }}
            </strong>
          </p>
        </li>
        <li>
          What do you think are the instructor's greatest strengths?
          <p>
            <strong>
              {{ r.OEI3 }}
            </strong>
          </p>
        </li>
      </ul>
    </div>
  </div>
  {% endfor %}
