
{% include teaching/url.html %}
<div class="card my-2" id="syll-card">
  <h3 class="card-header text-center">Information</h3>
  <div class="card-body">
    {% capture syll_url %}/assets/teaching/pdf/{{ off_id }}_syllabus.pdf{% endcapture %}
    {% capture sched_url %}/teaching/schedule/{{ crs_sem }}.html{% endcapture %}
    {% capture meet_url %}{{ page.url }}meetings/{% endcapture %}
    {% capture media_url %}{{ page.url }}media/{% endcapture %}
    {% capture fbk_url %}/teaching/{{ crs_id }}/{{ crs_sem }}/feedback.html{% endcapture %}
    {% capture rss_url %}/rss/{{ crs_id }}-{{ crs_sem }}.rss{% endcapture %}
    {% capture exam_url %}/teaching/{{ crs_id }}/{{ crs_sem }}/exams.html{% endcapture %}{% assign fbk_dir = 0 %}
    {% assign rss_feed = 0 %}
    {% assign sched_dir = 0 %}
    {% assign meet_dir = 0 %}
    {% assign media_dir = 0 %}
    {% assign exams_file = 0 %}
    {% assign fbd = 0 %}
    {%- for ff in site.data.teaching.feedback -%}
      {%- if ff[0] contains joff_id -%}
        {% assign fbd = 1 %}
        {% break %}
      {%- endif -%}
    {%- endfor -%}
    {% for sp in site.pages %}
      {% if sp.url contains fbk_url %}
        {% if fbd == 1 %}
          {% assign fbk_dir = 1 %}
        {% endif %}
      {% endif %}
      {% if sp.url contains syll_url %}
        {% assign syll = 1 %}
      {% endif %}
      {% if sp.url contains sched_url %}
        {% assign sched_dir = 1 %}
      {% endif %}
      {% if sp.url contains meet_url %}
        {% assign meet_dir = 1 %}
      {% endif %}
      {% if sp.url contains media_url %}
        {% assign media_dir = 1 %}
      {% endif %}
      {% if sp.url contains rss_url %}
        {% assign rss_feed = 1 %}
      {% endif %}
      {% if sp.url contains exam_url %}
        {% assign exams_file = 1 %}
      {% endif %}
      {% comment %}
      {% if fbk_dir == 1 and sched_dir == 1 %}
        {% break %}
      {% endif %}
      {% endcomment %}
    {% endfor %}
    {% assign syll = 0 %}
    {% for ssf in site.static_files %}
      {% if ssf.path contains syll_url %}
        {% assign syll = 1 %}
        {% break %}
      {% endif %}
    {% endfor %}
    <ul class="list-group list-group-flush">
      {% if syll == 1 %}
      <li class="list-group-item">
        <a href="{{ syll_url | relative_url }}">
          Syllabus
        </a>
      </li>
      {% endif %}
      {% assign links = site.data.teaching.off_links[joff_id] %}
      {%- if links -%}
        {% for ll in links %}
      <li class="list-group-item">
        <a href="{{ ll.url }}">
          {{ ll.name }}
        </a>
      </li>
      {% endfor %}
      {% endif %}
      {% if sched_dir == 1 %}
      <li class="list-group-item">
        <a href="{{ sched_url | relative_url }}">
          Office Hours
        </a>
      </li>
      {% endif %}
      {% assign urc = "" %}
      {% assign offs = "" %}
      {% assign psn = page.sem | plus: 0 %}
      {% for o in site.data.teaching.offerings %}
        {% assign osn = o.semester | plus: 0 %}
        {% if osn == psn %}
          {% capture offs %}{{offs}}#{{o.id}}{% endcapture %}
          {% for c in site.data.teaching.courses %}
            {% if o.id == c.id %}
              {% assign urc = c.urcourses %}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}

      <li class="list-group-item">
        <a href="https://urcourses.uregina.ca/course/view.php?id={{ urc_id }}" target="_blank">
          {{ crs_id | replace: "-", " " }} on URcourses
        </a>
      </li>
      {% if meet_dir == 1 %}
      <li class="list-group-item">
        <a href="{{ meet_url | relative_url }}">
          Meetings
        </a>
      </li>
      {% endif %}
      {% if media_dir == 1 %}
      <li class="list-group-item">
        <a href="{{ media_url | relative_url }}">
          Media
        </a>
      </li>
      {% endif %}
      {% if exams_file == 1 %}
      <li class="list-group-item">
        <a href="{{ exam_url | relative_url }}">
          Exams
        </a>
      </li>
      {% endif %}
      {% if fbk_dir == 1 %}
      <li class="list-group-item">
        <a href="{{ fbk_url | relative_url }}">
          Feedback from Students
        </a>
      </li>
      {% endif %}
      {% if 0 == 1 %}
      <li class="list-group-item">
        <a href="{{ rss_url | relative_url }}">
          RSS feed for {{ crs_id }}-{{ crs_sem }}
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
