
{% include teaching/url.html %}
<div class="card" id="info-card">
  <div class="card-header" role="tab" id="heading_IN">
    <h3 class="mb-0">
      <a class="xtra collapsed" data-toggle="collapse"
      href="#collapse_IN" role="button"
      aria-expanded="false" aria-controls="collapse_IN">
        Information
      </a>
    </h3>
  </div>
  <div id="collapse_IN" class="collapse"
  aria-labelledby="heading_IN">
    <div class="card card-body">
      {% include offering/exam-card.html %}
      <ul class="list-group list-group-flush">
        {% capture sched_url %}/teaching/schedule/{{ crs_sem }}.html{% endcapture %}
        {% include offering/list-link.html
           test=sched_url label="Office Hours" %}

        {% capture syll_url %}/assets/teaching/pdf/{{ off_id }}_syllabus.pdf{% endcapture %}
        {% include offering/list-link.html
           test=syll_url label="Syllabus" %}

        {% if crs_urc != "" %}
        <li class="list-group-item">
          <a href="https://urcourses.uregina.ca/course/view.php?id={{ crs_urc }}" target="_blank">
            {{ crs_id | replace: "-", " " }} on UR Courses
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
