{%- assign off = site.data.teaching[jcrs_id][crs_sem].offering %}

  <li>
          {%- capture syll_url -%}/assets/teaching/pdf/{{ off_id }}_syllabus.pdf{%- endcapture -%}
          <a href="{{ syll_url | relative_url }}" target="_blank">
            Syllabus (pdf)
          </a>
        </li>
        {%- if off.mdays -%}
        <li>
          {%- capture ics_url -%}/teaching/{{ jcrs_id }}/{{ crs_sem }}/meetings.ics{%- endcapture -%}
          <a href="{{ ics_url | relative_url }}">Course calendar (.ics)</a>
        </li>
        {%- endif -%}
        <li>
          <a href="https://urcourses.uregina.ca/course/view.php?id={{ off.urc_course_id }}" target="_blank">
            UR Courses
          </a>
        </li>
{%- assign linkfile = site.data.teaching[jcrs_id][crs_sem].links %}
{%- if linkfile -%}
  {%- for ll in linkfile -%}
  <li>
    <a href="{{ ll.url }}">
      {{ ll.desc }}
    </a>
  </li>
  {% endfor %}
{% endif %}
