{% include teaching/url.html %}
<div class="card">
  <div class="card card-header">
    <h1>
      {{ crs_id | replace: "-"," " }} in {{ crs_sem }}
    </h1>
  </div>
  <div class="card card-body">

  {% assign off_lvl = "h5" %}
  <!-- syllabus -->
  {% capture syll_url %}/assets/teaching/pdf/{{ off_id }}_syllabus.pdf{% endcapture %}
  {%-
    include helper/lnk-card.html
    label="Syllabus" url=syll_url
    level=off_lvl id="OFF_SYLLABUS"
  -%}

  <!-- schedule and office hours -->
  {% capture sched_url %}/teaching/schedule/{{ crs_sem }}.html{% endcapture %}
  {%-
    include helper/lnk-card.html
    url=sched_url label="Schedule and Office Hours"
    level=off_lvl id="OFF_SCHED"
   -%}

  <!--  Next meeting -->
  {% capture mtg_dir %}{{ page.url }}meetings/{% endcapture %}
  {% include helper/pd-card.html
     test=mtg_dir label="Next Meeting" level=off_lvl
     open='y' id='OFF_NXTMTG' body='offering/mtgs-body.html'
  %}

  <!-- UR Courses -->
  {%- if crs_urc != "" -%}
    {%- capture urc_url -%}https://urcourses.uregina.ca/course/view.php?id={{ crs_urc }}{%- endcapture -%}
    {%- capture urc_label -%}{{ crs_id | replace: "-", " " }} on UR Courses{%- endcapture -%}
    {%-
      include helper/lnk-card.html
      url=urc_url label=urc_label
      level=off_lvl id="OFF_URC"
    -%}
  {%- endif -%}

  <!-- Assignments -->
  {% capture asgn_url %}{{ page.url }}assignments/{% endcapture %}
  {%-
    include helper/lnk-card.html
    url=asgn_url label="Assignments"
    level=off_lvl id="OFF_ASGNS"
  -%}

  <!-- Exams -->
  {%-
    include helper/pd-card.html
    test=true label="Exams" level=off_lvl
    open='n' id='OFF_EXAMS' body='offering/exams-body.html'
  -%}

  <!-- Media -->
  {% capture media_url %}{{ page.url }}media/{% endcapture %}
  {%-
    include helper/lnk-card.html
    url=media_url label="Media from Meetings"
    level=off_lvl id="OFF_MEDIA"
  -%}

  <!-- Meetings -->
  {%-
     include helper/lnk-card.html
     url=mtg_dir label="Meetings"
     level=off_lvl id="OFF_MTGS"
  -%}

  <!--  Topics -->
  {% assign tlofile = site.data.teaching[jcrs_id][crs_sem]tlo -%}
  {% include helper/pd-card.html
     test=tlofile label="Topics and Learning Outcomes"
     level=off_lvl
     open='n' id='OFF_TLO' body='offering/tlo-body.html'
  %}

{% assign planfile = site.data.teaching[jcrs_id][crs_sem]plan %}
{%
  include helper/pd-card.html
  test=planfile label="Semester Plan" level=off_lvl
  open='n' pass='y' id='OFF_PLAN' body='offering/plan-body.html'
 %}

</div>
</div>
{% comment %}
{% include offering/plan-card.html %}

{% include offering/links-card.html %}
{% endcomment %}
