<h1>Media</h1>

{%- if site.data.teaching.media[include.media_dat] -%}
{% capture puwl %}{{ page.url | remove: "/media/" }}{% endcapture %}
<div class="container-fluid">
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr class="d-flex bg-info">
          <th class="col-2">
            Meeting
          </th>
          <th class="col-10">
            Media
          </th>
        </tr>
      </thead>
      <tbody>
  {%- assign sortedMedia = site.data.teaching.media[include.media_dat] | sort: 'file' -%}
  {% assign mtg_nbr = 0 %}
  {%- for media in sortedMedia -%}
    {% assign new_nbr = media.file | slice: 0, 2 } | plus: 0 %}
    {% if mtg_nbr != new_nbr %}
      {% if mtg_nbr > 0 %}
    </td>
  </tr>
      {% endif %}
      {% assign mtg_nbr = new_nbr %}
    <tr class="d-flex">
      <th class="col-2">
        {% assign mtgnbr_str = mtg_nbr | prepend: '00' | slice: -2, 2 %}
        {% for mf in site.data.teaching.meetings[joff_id] %}
          {% if mf.meeting == mtgnbr_str %}
            {% capture mff %}{{ puwl }}/meetings/{{ mf.file }}{% endcapture %}
        <a href="{{ mff | absolute_url }}" class="btn btn-primary" role="button">
    {{ mtgnbr_str }}
        </a>
            {% break %}
          {% endif %}
        {%- endfor -%}
      </th>
      <td class="col-10">
    {% endif %}
    {%- if media.URL contains "jpg" -%}
  {% comment %}<a href="{{media.URL}}"><img src="{{media.URL}}" alt="{{media.file}}" height="100" class="m-1 img-responsive"/></a>{% endcomment %}
<a href="#" class="pop" role="button"><img src="{{media.URL}}" alt="{{media.file}}" height="100" class="m-1"/></a>
    {%- endif -%}
    {%- if media.URL contains "m4a" -%}
  <a href="{{media.URL}}"><span class="far fa-file-audio fa-6x align-middle m-1"></span></a>
    {%- endif -%}
  {%- endfor -%}
{%- else -%}
  <p>None available</p>
</div>
{%- endif -%}

<div class="modal fade" id="zoomModal" tabindex="-1" role="dialog" aria-labelledby="zoomModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="zoomModalTitle">Image Zoom</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bg-primary">
        <img src="" class="imagepreview" >
      </div>
    </div>
  </div>
</div>
<script>
  $(function() {
		$('.pop').on('click', function() {
			$('.imagepreview').attr('src', $(this).find('img').attr('src'));
			$('#zoomModal').modal('show');
		});
});
</script>
