{%- comment -%}
    Updated for boostrap 4
    (https://getbootstrap.com/docs/4.0/components/breadcrumb/) and
    does not create a link for the last (active) item
{%- endcomment -%}
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr class="d-flex bg-info">
            <th class="col-4">
              Month
            </th>
            <th class="col-8">
              Meetings
            </th>
          </tr>
        </thead>
        <tbody>
          {% assign month = "" %}
          {%- for mtg in site.data.teaching.meetings[joff_id] -%}
              {%- assign mtg_parts = mtg.file | split: '-' -%}
              {%- assign mtg_nbr = mtg_parts[0] -%}
              {%- assign mtg_month = mtg_parts[2] -%}
              {%- capture ttdh -%}2019-{{ mtg_parts[2] }}-{{ mtg_parts[1] }}{% endcapture %}
              {%- assign ttd = ttdh | remove: ".html" | date: '%a-%d-%b-%Y' -%}
              {% if month == "" %}
                {% assign month = mtg_month %}
                <tr class="d-flex">
                  <th class="col-4">
                    {{ month }}
                  </th>
                  <td class="col-8">
                    <a href="{{ mtg.file }}" class="btn btn-primary" role="button" data-toggle="tooltip" title="{{ ttd }}">{{ mtg_nbr }}</a>
              {% elsif month != mtg_month %}
                  </td>
                </tr>
                {% assign month = mtg_month %}
                <tr class="d-flex">
                  <th class="col-4">
                    {{ month }}
                  </th>
                  <td class="col-8">
                    <a href="{{ mtg.file }}" class="btn btn-primary" role="button" data-toggle="tooltip" title="{{ ttd }}">{{ mtg_nbr }}</a>
              {% else %}
                    <a href="{{ mtg.file }}" class="btn btn-primary" role="button" data-toggle="tooltip" title="{{ ttd }}">{{ mtg_nbr }}</a>
              {%- endif -%}
          {%- endfor -%}
                  </td>
                </tr>
        </tbody>
      </table>
    </div>
