{%- include teaching/url.html -%}
{% for qq in site.data.teaching.offerings %}
  {%- if qq.semester == crs_sem and qq.id == crs_id -%}
    {%- assign mtgdays = qq.mdays | split: "," -%}
    {%- assign mtimes = qq.times | split: "-" -%}
    {%- assign shm = mtimes[0] | split: ":" -%}
    {%- assign ehm = mtimes[1] | split: ":" -%}
    {%- assign smins = shm[0] | times: 60 -%}
    {%- assign smins = smins | plus: shm[1] -%}
    {%- assign ehm = mtimes[1] | split: ":" -%}
    {%- assign emins = ehm[0] | times: 60 -%}
    {%- assign emins = emins | plus: ehm[1] -%}
    {%- assign mpw = 0 -%}
    {%- assign mpw = mpw | plus: mtgdays.size -%}
    {%- assign mpwidx = mpw | minus: 1 -%}
    {%- break -%}
  {%- endif -%}
{% endfor %}
<div class="container">
  <div class="row border-bottom">
    <div class="col-3 text-end">
      Now:
    </div>
    <div class="col-9 text-start">
      <i id="now"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-3 text-end">
      Next mtg:
    </div>
    <div class="col-9 text-start">
      <i id="nxtmtg"></i>
    </div>
  </div>
  <p></p>
{%- assign mtgsfile = site.data.teaching[jcrs_id][crs_sem]meetings -%}
{%- assign mm = mtgsfile[0] -%}
{%- assign totmtgs = mm.total_mtgs | minus: 1 -%}
{%- assign cctr = 0 -%}
{%- for j in (0..totmtgs) -%}
  {%- assign mm = mtgsfile[j] -%}
  {%- assign mtgday = mm.date | split: "-" | first -%}
  {%- for i in (0..mpwidx) -%}
    {%- if mtgdays[i] == mtgday -%}
      {%- assign mdi = i -%}
      {%- break -%}
    {%- endif -%}
  {%- endfor -%}
  {%- if cctr == 0 -%}
    <ul class="list-group list-group-horizontal">
    {%- assign ulopen = 1 -%}
  {%- endif -%}
  {%- if cctr < mdi -%}
    {%- assign mdimo = mdi | minus: 1 -%}
    {%- for k in (cctr..mdimo) -%}
      <li class="list-group-item list-group-item-action flex-fill w-25 p-3">
      </li>
    {%- endfor -%}
  {%- elsif cctr > mdi -%}
    {%- for k in (cctr..mpwidx) -%}
      <li class="list-group-item list-group-item-action flex-fill w-25 p-3">
      </li>
    {%- endfor -%}
    </ul>
    <ul class="list-group list-group-horizontal">
    {%- assign mdimo = mdi | minus: 1 -%}
    {%- assign cctr = 0 -%}
    {%- for k in (0..mdimo) -%}
      <li class="list-group-item list-group-item-action flex-fill w-25 p-3">
      </li>
    {%- endfor -%}
  {%- endif -%}
  <li class="list-group-item list-group-item-action flex-fill w-25 p-3">
    {%- capture mtgurl %}/teaching/{{ crs_id}}/{{ crs_sem}}/meetings/{{ mm.file }}{% endcapture -%}
    <a href="{{ mtgurl | absolute_url }}" id="{{ mm.meeting }}">
        Mtg {{ mm.meeting | plus: 0 }} ({{ mm.date }})
    </a>
  </li>
  {%- assign cctr = mdi -%}
  {%- if cctr == mpwidx -%}
    </ul>
    {%- assign ulopen = 0 -%}
  {%- endif -%}
  {%- assign cctr = mdi | plus: 1 | modulo: mpw -%}
{%- endfor -%}
{%- if ulopen == 1 -%}
  {%- for k in (cctr..mpwidx) -%}
    <li class="list-group-item list-group-item-action flex-fill w-25 p-3">
    </li>
  {%- endfor -%}
  </ul>
{%- endif -%}
</div>

<script>
  $(document).ready(function(){
    // get meeting information initialized
    const mar = {{ mtgsfile | jsonify }}
    const smillis = {{ smins }} * 60 * 1000;
    const emillis = {{ emins }} * 60 * 1000;
    // get current time as local
    const now = new Date();
    // add local date string to page
    document.getElementById("now").innerHTML = now.toString();
    // get local now in milliseconds (timestamp)
    const nts = now.getTime();
    //const nts = 1641930840000; // testing
    let mtn = 0;
    let nxtmds = 0
    let nxtmde = 0
    for (const element of mar) {
      const md = Date.parse(element.date);
      nxtmds = md + smillis;
      nxtmde = md + emillis;
      mtn = element.meeting;
      if (nts < nxtmds) {
        const nxtmtgdt = new Date(nxtmds);
        document.getElementById("nxtmtg").innerHTML = nxtmtgdt.toString();
        break;
      } else if (nts >= nxtmds && nts <= nxtmde) {
        document.getElementById("nxtmtg").innerHTML = 'IN PROGRESS';
        break;
      }
    }
    console.log('nxtmtg',mtn)
    document.getElementById(mtn).classList.add('text-bg-primary');
  })
</script>
