
{% include teaching/url.html %}
{% capture mtg_dir %}/teaching/{{ crs_sbj }}-{{ crs_nbr }}/{{ crs_sem }}/meetings/{% endcapture %}
{% for sp in site.pages %}
  {% if sp.url == mtg_dir %}
    {% assign has_mtg_dir = "true" %}
    {% break %}
  {% endif %}
{% endfor %}
{% if has_mtg_dir == "true" %}
  <div class="card" id="mtgs-card">
    <div class="card-header" role="tab" id="heading_MT">
      <h3 class="mb-0">
        <a class="xtra" data-toggle="collapse"
        href="#collapse_MT"
        aria-expanded="true" aria-controls="collapse_MT">
          Meetings
        </a>
      </h3>
    </div>

  <div id="collapse_MT" class="collapse show" role="tabpanel"
  aria-labelledby="heading_MT">
    <div class="card card-body">
      {%- assign todaydate = "now" | date: "%a-%d-%b-%Y" -%}
      {%- assign tddarr = todaydate | split: "-" -%}
      {%- assign tddmmm = tddarr[2] | date: "%m" | plus: 0 | times: 100 -%}
      {%- assign tddnbr = tddmmm | plus: tddarr[1] -%}
      {%- if site.data.teaching[joff_id]plan -%}
        {% assign currmtg = 1 | plus: 0 %}
        {% for m in site.data.teaching[joff_id]plan %}
          {% if m[1].date %}
            {%- assign mtdarr = m[1].date | split: "-" -%}
            {%- assign mtdmmm = mtdarr[2] | date: "%m" | plus: 0 | times: 100 -%}
            {%- assign mtdnbr = mtdmmm | plus: mtdarr[1] -%}
            {% if tddnbr <= mtdnbr %}
              {%- assign meetingdate = m[1].date -%}
              {% break %}
            {% endif %}
            {% assign currmtg = currmtg | plus: 1 %}
          {% endif %}
        {% endfor %}
      {% endif %}
      <p>
        Today is: <i>{{ todaydate }}</i><br />
        Next class meeting is: <i>{{ meetingdate }}</i>
      </p>
      {% include meetings/pagination.html path="meetings/" tm=26 cm=currmtg na=1 %}
    </div>
  </div>
{% endif %}
