{% include teaching/url.html %}
{% assign mtgsfile = site.data.teaching[jcrs_id][crs_sem]meetings %}

<div class="card">
  <div class="card card-header">
    <h1>
      Meetings
    </h1>
  </div>
  <div class="card card-body">
    <strong>
      <div class="row">
        <div class="col-sm-3">
          Month
        </div>
        <div class="col-sm-9">
          Meeting Dates (Numbers) with Summaries and Responses
        </div>
      </div>
    </strong>
{% assign month = "" %}
{%- for mm in mtgsfile -%}
  {%- assign mmf_parts = mm.file | split: '.' | first | split: '-' -%}
  {%- capture mtg_date -%}{{ mmf_parts[0] | split: '_' | last }}-{{ mmf_parts[1] }}{%- endcapture -%}
  {% if month != mmf_parts[2] %}
    {% if month != "" %}
      </div>
    </div>
    {% endif %}
    {% assign month = mmf_parts[2] %}
    {% assign mnth_odd = month | modulo: 2 %}
    {% if mtg_odd == 1 %}
      {% assign mtg_bg = "bg-light" %}
    {% else %}
      {% assign mtg_bg = "" %}
    {% endif %}
    <div class="row {{ mtg_bg }} border align-items-center">
      <div class="col-sm-3">
        {{ month }}
      </div>
      <div class="col-sm-9">
  {% elsif month == mmf_parts[2] %}
        &bull;
    {% assign month = mmf_parts[2] %}
  {% endif %}
        {%- capture mhtml -%}/teaching/{{ crs_id }}/{{ crs_sem }}/meetings/{{ mm.file }}{%- endcapture -%}
        <a href="{{ mhtml | absolute_url }}">{{ mtg_date }} (<strong>{{ mm.meeting }}</strong>)</a>
        :
        {%- assign mtn = mm.meeting -%}
        {%- assign sfile = site.data.teaching[jcrs_id][crs_sem]summary[mtn] %}
        {%- assign rfile = site.data.teaching[jcrs_id][crs_sem]responses[mtn] %}
        {%- if 1 -%}
        {%- capture shtml -%}/teaching/{{ crs_id }}/{{ crs_sem }}/meetings/{{ mm.meeting }}_S.html{%- endcapture -%}
        <a role="button" class="btn btn-primary m-1" href="{{ shtml | absolute_url }}">S</a>
        {%- else -%}
        <a role="button" class="disabled btn btn-primary m-1" href="">S</a>
        {%- endif -%}
        {%- if 1 -%}
        {%- capture rhtml -%}/teaching/{{ crs_id }}/{{ crs_sem }}/meetings/{{ mm.meeting }}_R.html{%- endcapture -%}
        <a role="button" class="btn btn-primary m-1" href="{{ rhtml | absolute_url }}">R</a>
        {%- else -%}
        <a role="button" class="disabled btn btn-primary m-1" href="">R</a>
        {%- endif -%}
    {% endfor %}
    </div>
</div>
