{% include teaching/url.html %}
{% assign mtgsfile = site.data.teaching[jcrs_id][crs_sem]meetings %}

<div class="card">
  <div class="card card-header">
    <h1>
      Meetings
    </h1>
  </div>
  <div class="card card-body">
    <div class="card card-header">
      <strong>
        <div class="row">
          <div class="col-sm-2">
            Year
          </div>
          <div class="col-sm-2">
            Month
          </div>
          <div class="col-sm-8">
            Meeting Dates
          </div>
        </div>
      </strong>
    </div>
    <div class="card card-body">
    <!-- 01_Thu-03-Sep-2020.html -->
{% assign month = "" %}
{%- for mm in mtgsfile -%}
  {%- assign mmf_parts = mm.file | split: '.' | first | split: '-' -%}
  {%- capture mtg_date -%}{{ mmf_parts[0] | split: '_' | last }}-{{ mmf_parts[1] }}{%- endcapture -%}
  {% if month != mmf_parts[2] %}
    {% if month != "" %}
      </div>
    </div>
    {% endif %}
    {% assign month = mmf_parts[2] %}
    <div class="row">
      <div class="col-sm-2">
        {{ crs_sem | slice: 0, 4 }}
      </div>
      <div class="col-sm-2">
        {{ month }}
      </div>
      <div class="col-sm-8">
        <a href="{{ mm.file }}">
          {{ mtg_date }}
        </a>
    {% elsif month == mmf_parts[2] %}
        &bull;
        <a href="{{ mm.file }}">
          {{ mtg_date }}
        </a>
        {% assign month = mmf_parts[2] %}
      {% endif %}
    {% endfor %}
    </div>
  </div>
</div>
