{% comment %}
  {% include teaching/url.html %}
{% endcomment %}
{% assign tlooff = site.data.teaching[jcrs_id][crs_sem]tlo -%}
{%- if tlooff -%}
  {%- include offering/tlo-explanation.html -%}
  <div class="container" role="group" aria-label="KAreas/KUnits">
  {%- for ku in tlooff -%}
    {%- assign kk = ku[0] | split: "/" -%}
    {%- assign kkd = ku[1] -%}
    {%- assign kkaa = kk[0] -%}
    {%- assign kkuu = kk[1] -%}
    {% assign kunum = kkuu | slice: 0,2 %}
    {% capture kuti %}{{ kkuu | replace: "--",", " | replace: "-"," " | replace: "_","-" | slice: 3, kkuu.size }}{% endcapture %}
    {% capture kakid %}{{ kkaa }}{{ kunum }}{% endcapture %}
    <button class="btn btn-primary m-1" type="button" data-toggle="collapse" data-target="#{{ kakid }}-collapse" aria-expanded="false" aria-controls="{{kakid}}-collapse">
      {{ kkaa }} / {{ kuti }}
    </button>
    {% include curriculum/KU-collapse.html ika=kkaa iku=kkuu ikuti=kuti ikakid=kakid ikkd=kkd %}
  {%- endfor -%}
  </div>
{%- endif -%}
