
{% include teaching/url.html %}
{% assign plan = site.data.teaching[joff_id]plan %}

    {{ ll[0] }} <br />
  {% endfor %}
</li>
<div class="card my-2" id="plan-card">
  <h3 class="card-header text-center card-title" aria-expanded="false">Semester Plan</h3>
  <div class="card-body">
    <div class="accordion" id="accordion-plan">
      {% for steps in plan %}
      <div class="card">
        <div class="card-header" id="heading_{{ steps[0] }}">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed card-title" type="button" data-toggle="collapse" data-target="#collapse_{{ steps[0] }}" aria-expanded="false" aria-controls="collapseOne">
              {{ steps[0] }}
            </button>
          </h2>
        </div>

        <div id="collapse_{{ steps[0] }}" class="collapse" aria-labelledby="heading_{{ steps[0] }}" data-parent="#accordion-plan">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
