
{%- include teaching/url.html -%}
{%- assign planfile = site.data.teaching[jcrs_id][crs_sem]plan -%}
{%- assign mtg_lvl='h6' -%}
{%- for mtgs in include.test -%}
  {%- if mtgs[1].date -%}
    {%- capture mtg_id -%}MTG_PLAN_{{ mtgs[0] }}{%- endcapture -%}
    {%- assign mtg_nbr = mtgs[0] | plus: 0 -%}
    {%- capture mtg_date -%}{{ mtgs[1].date }}{%- endcapture -%}
    {%-
      include helper/pd-card.html
      test=planfile label=mtg_date level=mtg_lvl
      open='n' pass='y' id=mtg_id
      mtg=mtg_nbr body='meetings/plan-body.html'
    -%}
  {%- endif -%}
{%- endfor -%}
