<div class="card">
  <div class="card-body">
    <div class="d-none d-md-block">
  <p>
  Topics and Learning Outcomes for the Knowledge Units, within the Knowledge Areas,
  explored in this course are based on the
  <a href="https://www.acm.org/binaries/content/assets/education/cs2013_web_final.pdf"
  target="_blank">
    ACM/IEEE Curriculum Guidelines for Undergraduate Degree Programs in Computer Science (2013)
  </a>,
  the contents of which are available in HTML
  <a href="{{ "/teaching/curriculum/2013/" | relative_url }}" target="_blank">
    on this website
  </a>
  That report associates one of three levels of mastery with each Learning Outcome.
  The mastery levels are defined as:
  </p>
  <ul>
    <li>
      Familiarity: The student understands what a concept is or what it means.
  This level of mastery concerns a basic awareness of a concept as opposed to
  expecting real facility with its application.
  It provides an answer to the question “What do you know about this?”
    </li>
    <li>
      Usage: The student is able to use or apply a concept in a
  concrete way.
  Using a concept may include, for example,
  appropriately using a specific concept in a program,
  using a particular proof technique,
  or performing a particular analysis.
  It provides an answer to the question “What do you know how to do?”
    </li>
    <li>
      Assessment: The student is able to consider a concept from
  multiple viewpoints and/or justify the selection of a
  particular approach to solve a problem.
  This level of mastery implies more than using a concept;
  it involves the ability to select an appropriate
  approach from understood alternatives.
  It provides an answer to the question “Why would you do that?”
    </li>
  </ul>
  </div>
  <p>
    Topics and Learning Outcomes with:
  </p>
  <ul>
    <li>
      2 stars ( &starf; &starf; ) appear in the CS2013 report as Core-Tier1
    </li>
    <li>
      1 star ( &starf; ) appear in the CS2013 report as Core-Tier2
    </li>
    <li>
      0 stars appear in the CS2013 report as Elective
    </li>
    <li>
      <span class="text-muted">grey text</span> are not covered in this course offering
    </li>
  </ul>
</div>
</div>
