{%- include offering/tlo-preamble.html -%}

{%- for tlo in page.tlouts -%}
  {%- assign kaku = tlo.ka | split: "/" -%}
  {%- assign kaaa = kaku[0] -%}
  {%- assign kuuu = kaku[1] -%}
  {%- assign tlo_dat = site.data.teaching.CC2013[kaaa][kuuu] -%}
  {%- if tlo_dat -%}
<div class="card" id="know{{ctr}}">
  <div class="card-header">
    <h3>{{ kaaa }} / {{ kuuu | replace: "--",", " | replace: "-"," " | replace: "_","-" | slice: 3, kuuu.size }}</h3>
	</div>
	<div class="card-body">
      {% if tlo_dat.preamble %}
        {%- for pre in tlo_dat.preamble -%}
      <div class="row">
        <div class="col-md-12">
          <h5>{{ pre.label }}</h5>
          <p>{{ pre.desc }}</p>
        </div>
      </div>
        {% endfor %}
      {% endif %}

	  <div class="row">
	    <div class="col-md-6">
	      <h5>Topics</h5>
	      <ol>
        {%- for top in tlo_dat.topics -%}
          {%- assign inctop = 1 %}
          TOP {{ top }}
          {% if tlo.spectop %}
            SPEC: {{ tlo.spectop | where: "label",top.label }}
            {{ tlo.spectop }}
            {% if top.label not in tlo.spectop %}
              {%- assign inctop = 0 %}
            {% endif %}
          {%- endif -%}
          <div
          {% if inctop == 0 %}
            class="text-muted">
          {% else %}
            >
          {% endif %}
          {%- if top.details -%}
            <li>{{ top.desc }}
              <ol>
                {%- for td in top.details -%}
                  <li>{{ td }}</li>
                {%- endfor -%}
              </ol>
            </li>
          {%- else -%}
            <li>{{ top.desc }}</li>
          {%- endif -%} {%comment%}top.details {%endcomment%}
          </div>
        {%- endfor -%} {%comment%}for top {%endcomment%}
	      </ol>
	    </div>
	    <div class="col-md-6">
	      <h5>Learning Outcomes</h5>
	      <ol>
        {% if tlo.speclo %}
          {% for slo in tlo.speclo %}
            {%- for lout in tlo_dat.outcomes -%}
              {%- if slo == lout.label -%}
                {%- if lout.details -%}
                  <li>{{ lout.desc }}
                    <ol>
                      {%- for lod in lout.details -%}
                        <li>{{ lod }}</li>
                      {%- endfor -%}
                    </ol>
                  </li>
                {%- else -%}
                  <li>{{ lout.desc }}</li>
                {%- endif -%} {%comment%}lout.details {%endcomment%}
              {%- endif -%} {%comment%}slo == lout.label {%endcomment%}
            {%- endfor -%} {%comment%}for lout {%endcomment%}
          {%- endfor -%}{%comment%}for speclo {%endcomment%}
          {%- else -%}
            {%- for lout in tlo_dat.outcomes -%}
                {%- if lout.details -%}
                  <li>{{ lout.desc }}
                    <ol>
                      {%- for lod in lout.details -%}
                        <li>{{ lod }}</li>
                      {%- endfor -%}
                    </ol>
                  </li>
                {%- else -%}
                  <li>{{ lout.desc }}</li>
                {%- endif -%} {%comment%}lout.details {%endcomment%}
            {%- endfor -%} {%comment%}for lout {%endcomment%}
          {%- endif -%}
	      </ol>
	    </div>
	</div>
	</div>
	</div>
	{%- assign ctr  = ctr | plus: 1 -%}
  {%- endif -%}
{%- endfor -%}
{% comment %}{% endcomment %}
