{
  "@type": "Event",
  "name": "UR Computer Science 50th Birthday Party",
  "startDate": "2018-12-06T19:00-06:00",
  "location": {
    "@type": "Place",
    "name": "Education Auditorium, University of Regina",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "3737 W. Parkway",
      "addressLocality": "Regina",
      "postalCode": "S4S 0A2",
      "addressRegion": "SK",
      "addressCountry": "CA"
    }
  },
  "image": [
    "{{ "/assets/projects/img/snoopy.jpg" | absolute_url }}"
  ],
  "description": "Computer Science is turning 50! To honour the occasion, we are bringing together people who helped grow the Department into what it is today, and to celebrate how much we've accomplished in the past half-century.",
  "endDate": "2018-12-06T21:00-06:00",
  "offers": {
    "@type": "Offer",
    "url": "https://events.eply.com/ComputerScienceLecture",
    "price": "0",
    "priceCurrency": "CAD",
    "availability": "http://schema.org/InStock",
    "validFrom": "2018-11-01T00:00-06:00"
  },
  "performer": {
    "@type": "Person",
    "name": "David Plummer, BSc HHons 1994"
  }
}
