---
---
<p>
  My M.Sc. thesis
  <a href="{{ '/research/works/1991-03-Hep-Approximation-and-Visualization-of-Sets-Defined-by-Iterated-Function-Systems.html' | relative_url }}">
    Approximation and Visualization of Sets Defined by Iterated Function Systems
  </a>
  (from 1991) dealt with linear fractals.
  That got me started and I am still hooked.
</p>

<ul>
  <li>
    <a href="{{ '/projects/fractals/gallery/' | relative_url }}">
      Gallery of Images
    </a>
  </li>
  <li>
    <a href="{{ '/projects/fractals/calendars/' | relative_url }}">
      Fractals Calendars from Universe Publishing
    </a>
  </li>
  <li>
    <a href="{{ '/projects/fractals/exhibitions/' | relative_url }}">
      Exhibitions &mdash; in which I participated or helped to curate
    </a>
  </li>
  <li>
    <a href="{{ '/projects/fractals/math-of-art.html' | relative_url }}">
      A Math of Art &mdash; exploring mathematics and art on the web
    </a>
  </li>
</ul>

<p>
  My supervisor for my Master of Sciene degree was
  <a href="https://en.wikipedia.org/wiki/Przemys%C5%82aw_Prusinkiewicz" target="_blank">
    Przemyslaw Prusinkiewicz.
  </a>
  During my studies, Prusinkiewicz took a sabbatical and visited
  <a href="https://en.wikipedia.org/wiki/Benoit_Mandelbrot" target="_blank">
    Benoit Mandelbrot.
  </a>
  Upon completion of my studies,
  that Mandelbrot connection helped F. David Fracchia
  (who had just completed his Ph.D. with Prusinkiewicz)
  and me to secure term employment with Mandelbrot's
  Fractals Project (Fracchia at Yale as a postdoc,
  me at IBM TJ Watson Research Centre),
  beginning in the summer of 1991.
</p>

<img src="{{ '/assets/projects/img/grand-slammer.jpg' | relative_url }}"
  height="161px" width="220px" class="img-responsive"
  alt="Sing Sing: the Grand Slammer" />

<p>
  During my contract with IBM, I lived in Ossining, New York
  (Home of the Grand Slammer: Sing Sing Prison).
  The New York Times printed a story about travelling to Ossining in
  <a href="http://www.nytimes.com/2005/01/21/travel/escapes/going-up-the-river-for-a-visit.html" target="_blank">
    Going Up the River, for a Visit.
  </a>
</p>
