{% comment %}
  Updated for boostrap 4 
  (https://getbootstrap.com/docs/4.0/components/breadcrumb/) and
  does not create a link for the last (active) item
{% endcomment %}
{% assign url_parts = page.url | split: '/' %}
{% capture loop_max %}{{url_parts.size | minus: 1 }}{% endcapture %}
{% assign j = loop_max | plus: 0 %}
{% assign bc_path = "" %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb card-header">
    <li class="breadcrumb-item"><a href="{{ site.baseurl }}/">D. H. Hepting</a></li>
{% for i in (0..loop_max) %}
  {% capture bc_path %}{{bc_path}}/{{url_parts[i]}}/{% endcapture %}
  {% assign bc_page = site.html_pages | where: "path", bc_path %}
  {% if bc_page %}
    {{ bc_page.breadcrumb }}
  {% endif %}
{% endfor %}


{%comment%}
                <li class="breadcrumb-item">
                    {% capture sp_url_without_index_html %}{{ sp.url | remove: "index.html" }}{% endcapture %}
                    <a href="{{ site.baseurl }}{{sp_url_without_index_html}}">{{sp.breadcrumb}}</a>
                </li>
            {% elsif i == j %}
                <li class="breadcrumb-item active">
                    {{sp.breadcrumb}}
                </li>
            {% endif %}
	    {% continue %}
        {% endif %}
    {% endfor %}
{% endfor %}
{% endcomment %}
    </ol>
</nav>
