{% comment %}
{% endcomment %}

{% capture purl %}{{ page.url | remove: "/index.html" }}{% endcapture %}
{% assign url_parts = purl | split: '/' %}
{% for u in (0..url_parts.size) %}
  {% if url_parts[u] == "teaching" %}
    {% assign crs_idx = u | plus: 1 %}
    {% assign sem_idx = u | plus: 2 %}
  {% endif %}
{% endfor %}
{% assign crs_dir = url_parts[crs_idx] %}
{% assign crs_parts = url_parts[crs_idx] | split: '-' %}
{% assign crs_sbj = crs_parts[0] %}
{% assign crs_nbr = crs_parts[1] %}
{% assign crs_sem = url_parts[sem_idx] %}
