{% comment %}
{% endcomment %}
{% assign page_parts = page.url | split: '/' %}
{% assign sem_url_size = page_parts.size | plus: 1 %}
{% assign sems = "" %}
{% for sp in site.pages %}
  {% if sp.url contains page.url and sp.url > page.url %}
    {% assign url_parts = sp.url | split: '/' %}
    {% assign url_parts_size = url_parts.size | plus: 0 %}
    {% if url_parts_size  == sem_url_size %}
      {% assign semid = url_parts | last %}
      {% if semid contains "20" %}
        {% capture sems %}{{sems}}|{{semid}}{% endcapture %}
      {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}

{% assign sortedsems = sems | split: '|' | sort | reverse %}
{% assign numsems = sortedsems.size | minus: 2 %}
<div class="card">
  <div class="card-header bg-info">
        <h3>Semesters</h3>
  </div>
  <div class="card-body">
        <ul>
	{% for j in (0..numsems) %}
          <li><a href="{{ sortedsems[j] }}">{{ sortedsems[j] }}</a></li>
        {% endfor %}
        </ul>
  </div>
</div>
