{% include feedback-url.html %}

# {{ crs_fbk | capitalize | replace: "-"," "}}

{% if site.data.feedback[fbk_dat] %}
<div class="container-fluid">
<table class="table table-responsive table-striped table-bordered">
<thead>
  <tr>
    <th>Response</th>
    <th>Q1</th>
    <th>Q2</th>
    <th>Q3</th>
    <th>Q4</th>
    <th>Q5</th>
    <th>Q6</th>
    <th>Q7</th>
    <th>Q8</th>
    <th>Q9</th>
    <th>Avg</th>
    <th>SD</th>
    <th>Mode</th>
    <th>Median</th>
  </tr>
</thead>
<tbody>
{% for r in site.data.feedback[fbk_dat] %}
  <tr>
    <td>{{r.response }}</td>	
    {% assign rqs = "" %}
    {% capture rqs %}{{rqs}}{{r.q1}},{% endcapture %}
    {% capture rqs %}{{rqs}}{{r.q2}},{% endcapture %}
    {% capture rqs %}{{rqs}}{{r.q3}},{% endcapture %}
    {% capture rqs %}{{rqs}}{{r.q4}},{% endcapture %}
    {% capture rqs %}{{rqs}}{{r.q5}},{% endcapture %}
    {% capture rqs %}{{rqs}}{{r.q6}},{% endcapture %}
    {% capture rqs %}{{rqs}}{{r.q7}},{% endcapture %}
    {% capture rqs %}{{rqs}}{{r.q8}},{% endcapture %}
    {% capture rqs %}{{rqs}}{{r.q9}},{% endcapture %}
    {% capture rqs %}{{rqs}}{{r.avg}},{% endcapture %}
    {% capture rqs %}{{rqs}}{{r.SD}},{% endcapture %}
    {% capture rqs %}{{rqs}}{{r.mode}},{% endcapture %}
    {% capture rqs %}{{rqs}}{{r.median}},{% endcapture %}
    {% assign rqa = rqs | split: "," %}
    {% for rq in rqa %}
      {% assign rqi = rq | plus: 0 %}
      {% if rqi > 0 %}
        <td>{{rqi}}</td>	
      {% else %}
        <td>&mdash;</td>	
      {% endif %}
    {% endfor %}
  </tr>
{% endfor %}
</tbody>
</table>
</div>
<div>
{% comment %}
<tr>
<th>Question</th>
<th>5 (Always)</th>
<th>4 [Mostly]</th>
<th>3 [Sometimes]</th>
<th>2 [Rarely]</th>
<th>1 (Never)</th>
<th>Total</th>
</tr>
Q1. The instructor is well-prepared for class	8	18	23	11	7	67
Q2. The instructor clearly communicates his expectations for student preparation and participation	6	19	28	8	6	67
Q3. The instructor uses class time effectively	7	8	27	14	11	67
Q4. The instructor has clear expectations for assigned work	9	23	22	6	6	66
Q5. The instructor encourages student participation	24	23	15	3	2	67
Q6. The instructor clearly answers questions	8	16	22	12	9	67
Q7. The instructor treats students with respect	35	19	7	3	3	67
Q8. The instructor effectively directs and stimulates discussion	14	13	25	12	3	67
Q9. The instructor effectively encourages students to ask questions and give answers	22	20	15	8	2	67
{% endcomment %}
{% capture fbk_com %}{{fbk_dat}}-comm{% endcapture %}
<h3>What do you like best about this course?</h3>
<ol>
{% for l in site.data.feedback[fbk_com]like %}
  <li>{{l}}</li>
{% endfor %}
</ol>
<h3>What would you like to change about this course?</h3>
<ol>
{% for c in site.data.feedback[fbk_com]change %}
  <li>{{c}}</li>
{% endfor %}
</ol>
<h3>What do think are the instructor's greatest strengths?</h3>
<ol>
{% for s in site.data.feedback[fbk_com]strengths %}
  <li>{{s}}</li>
{% endfor %}
</ol>
{% endif %}
