{% capture purl %}{{ page.url | remove: ".html" }}{% endcapture %}
{% assign url_parts = purl | split: '/' %}
{% for u in (0..url_parts.size) %}
  {% if url_parts[u] == "teaching" %}
    {% assign crs_idx = u | plus: 1 %}
    {% assign sem_idx = u | plus: 2 %}
    {% assign fbk_idx = u | plus: 4 %}
  {% endif %}
{% endfor %}
{% assign crs_parts = url_parts[crs_idx] | split: '-' %}
{% assign crs_sbj = crs_parts[0] %}
{% assign crs_nbr = crs_parts[1] %}
{% assign crs_sem = url_parts[sem_idx] %}
{% assign crs_fbk = url_parts[fbk_idx] %}
{% capture fbk_dat %}{{crs_sbj}}-{{crs_nbr}}-{{crs_sem}}-{{crs_fbk}}{% endcapture %}
{% capture fbk_dat %}{{fbk_dat | replace: "+", "_"}}{% endcapture %}
{% capture fse_dat %}{{crs_sbj}}-{{crs_nbr}}-{{crs_sem}}-ufse{% endcapture %}
{% capture fse_dat %}{{fse_dat | replace: "+", "_"}}{% endcapture %}
