{% include feedback-url.html %}

# {{ crs_fbk | capitalize | replace: "-"," "}}

<p>
  This page presents data obtained from my own feedback instrument that I give to students in my classes at their midterm and final exams.
  I look at midterm feedback when it is received because I consider it to be a formative evaluation of the class in progress.
  I do not see the final feedback until <em>after</em> the final grades are posted.  The numbers that precede each response are
  present to permit matching between the
  <a href="#likert-button">
    data table (click button to toggle expanded view)
  </a>
  and the opened ended questions.  A response with a &mdash; or NA
  indicates that no answer was given.
  Open-ended question responses have been transcribed as faithfully as possible,
  with minor edits and formatting changes sometimes required.
</p>

{% assign questions = "" %}
{% for q in site.data.feedback.questions %}
  {% capture questions %}{{ questions }}|{{q}}{% endcapture %}
{% endfor %}
{% assign qa = questions | split: "|" %}
{% if site.data.feedback[fbk_dat] %}
  {% assign detail = "" %}
  {% assign summary = "" %}
  {% assign stop_it = false %}
  {% assign header_done = false %}
  {% for r in site.data.feedback[fbk_dat] %}
    {% assign rqs = "" %}
    {% capture rqs %}{{rqs}}{{r.response}},{% endcapture %}
    {% capture rqs %}{{rqs}}{{r.q1}},{% endcapture %}
    {% capture rqs %}{{rqs}}{{r.q2}},{% endcapture %}
    {% capture rqs %}{{rqs}}{{r.q3}},{% endcapture %}
    {% capture rqs %}{{rqs}}{{r.q4}},{% endcapture %}
    {% capture rqs %}{{rqs}}{{r.q5}},{% endcapture %}
    {% capture rqs %}{{rqs}}{{r.q6}},{% endcapture %}
    {% capture rqs %}{{rqs}}{{r.q7}},{% endcapture %}
    {% capture rqs %}{{rqs}}{{r.q8}},{% endcapture %}
    {% capture rqs %}{{rqs}}{{r.q9}},{% endcapture %}
    {% capture rqs %}{{rqs}}{{r.avg}},{% endcapture %}
    {% capture rqs %}{{rqs}}{{r.SD}},{% endcapture %}
    {% capture rqs %}{{rqs}}{{r.mode}},{% endcapture %}
    {% capture rqs %}{{rqs}}{{r.median}},{% endcapture %}
    {% if stop_it == false %}
      {% capture detail %}{{detail}}#{{rqs}}{% endcapture %}
    {% else %}
      {% capture summary %}{{summary}}#{{rqs}}{% endcapture %}
    {% endif %}
    {% if rqs contains "Median" %}
      {% assign stop_it = true %}
    {% endif %}
  {% endfor %}

<div class="container-fluid">
  <table class="table table-responsive table-striped table-bordered">
    <thead>
      <tr>
        <th>Question</th>
        <th>5 (Always)</th>
        <th>4 [Mostly]</th>
        <th>3 [Sometimes]</th>
        <th>2 [Rarely]</th>
        <th>1 (Never)</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      {% assign summq = summary | split: "#" %}
      {% for q in (1..9) %}
        <tr>
          <td>{{qa[q]}}</td>
          {% for sq in summq %}
            {% assign sqa = sq | split: "," %}
            {% if sqa[q] %}
              <td>{{sqa[q]}}</td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
      <tr>
        <td>Total</td>
        {% for sq in summq %}
          {% assign sqa = sq | split: "," %}
          {% if sqa[10] %}
            <td>{{sqa[10]}}</td>
          {% endif %}
        {% endfor %}
      </tr>
    </tbody>
  </table>
</div>

{% comment %}
	Table of Detail Data
{% endcomment %}
<p>
  <a id="likert-button" href="#likert-detail" class="btn btn-info" data-toggle="collapse">
    CLICK HERE
  </a>
  to toggle details
</p>

<div id="likert-detail" class="container collapse">
  <table class="table table-responsive table-striped table-bordered">
    <thead>
      <tr>
        <th>Response</th>
        <th>Q1</th>
        <th>Q2</th>
        <th>Q3</th>
        <th>Q4</th>
        <th>Q5</th>
        <th>Q6</th>
        <th>Q7</th>
        <th>Q8</th>
        <th>Q9</th>
        <th>Avg</th>
        <th>SD</th>
        <th>Mode</th>
        <th>Median</th>
      </tr>
    </thead>
    <tbody>
      {% assign detaild = detail | split: "#" %}
      {% for row in detaild %}
        {% assign rowa = row | split: "," %}
        <tr>
	{% for dd in rowa %}
          {% if dd == "0" %}
            <td>&mdash;</td>
          {% else %}
            <td>{{dd}}</td>
          {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}
</tbody>
</table>
</div>
{% capture fbk_com %}{{fbk_dat}}-comm{% endcapture %}
{% if site.data.feedback[fbk_com] %}
<h3>What do you like best about this course?</h3>
{% capture fli_url %}/assets/teaching/img/{{fbk_dat}}-1l.svg{% endcapture %}
{% assign fli_url_tf = false %}
{% for static_file in site.static_files %}
    {% if static_file.path == fli_url %}
        {% assign fli_url_tf = true %}
    {% endif %}
{% endfor %}
{% if fli_url_tf %}
  <div class="container-fluid bg-info">
    <img class="img-responsive" alt="Wordcloud of likes"
    src="{{fli_url | relative_url}}" />
  </div>
{% endif %}
<p></p>
<p>
  <a href="#like-detail" class="btn btn-info" data-toggle="collapse">
    CLICK HERE
  </a>
  to toggle details
</p>

{% if fli_url_tf %}
  <div id="like-detail" class="container collapse">
{% else %}
  <div id="like-detail" class="container">
{% endif  %}
<ol>
{% for l in site.data.feedback[fbk_com]like %}
  <li>{{l}}</li>
{% endfor %}
</ol>
</div>
<h3>What would you like to change about this course?</h3>
{% capture fci_url %}/assets/teaching/img/{{fbk_dat}}-2c.svg{% endcapture %}
{% assign fci_url_tf = false %}
{% for static_file in site.static_files %}
    {% if static_file.path == fci_url %}
        {% assign fci_url_tf = true %}
    {% endif %}
{% endfor %}
{% if fci_url_tf %}
<div class="container-fluid bg-info">
<img class="img-responsive" alt="Wordcloud of changes" src="{{fci_url | relative_url}}" />
</div>
{% endif %}
<p></p>
<p>
  <a href="#change-detail" class="btn btn-info" data-toggle="collapse">
    CLICK HERE
  </a>
  to toggle details
</p>
{% if fci_url_tf %}
  <div id="change-detail" class="container collapse">
{% else %}
  <div id="change-detail" class="container">
{% endif  %}
<ol>
{% for c in site.data.feedback[fbk_com]change %}
  <li>{{c}}</li>
{% endfor %}
</ol>
</div>
<h3>What do think are the instructor's greatest strengths?</h3>
{% capture fsi_url %}/assets/teaching/img/{{fbk_dat}}-3s.svg{% endcapture %}
{% assign fsi_url_tf = false %}
{% for static_file in site.static_files %}
    {% if static_file.path == fsi_url %}
        {% assign fsi_url_tf = true %}
    {% endif %}
{% endfor %}
{% if fsi_url_tf %}
<div class="container-fluid bg-info">
<img class="img-responsive" alt="Wordcloud of strengths" src="{{fsi_url | relative_url}}" />
</div>
{% endif %}
<p></p>
<p>
  <a href="#strength-detail" class="btn btn-info" data-toggle="collapse">
    CLICK HERE
  </a>
  to toggle details
</p>

{% if fsi_url_tf %}
  <div id="strength-detail" class="container collapse">
{% else %}
  <div id="strength-detail" class="container">
{% endif  %}

<ol>
{% for s in site.data.feedback[fbk_com]strengths %}
  <li>{{s}}</li>
{% endfor %}
</ol>
</div>
{% endif %}
{% endif %}
