<!DOCTYPE html>
<html lang="en-CA">
<head>
  <!-- Responsive -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Links -->
  <link rel="stylesheet"
    href="{{ "/assets/tipuesearch/css/normalize.css" | relative_url }}"
  />
  <link rel="stylesheet"
    href="{{ "/assets/tipuesearch/css/tipuesearch.css" | relative_url }}"
  />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css"
    integrity="sha256-Md8eaeo67OiouuXAi8t/Xpd8t2+IaJezATVTWbZqSOw="
    crossorigin="anonymous"
  />
  <link rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
    integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous"
  />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"
    integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ="
    crossorigin="anonymous"
  />
  <link rel="stylesheet"
    href="{{"/assets/css/dhhepting.css" | relative_url}}"
  />
  <link rel="icon"
    href="{{"/assets/favicon.ico" | relative_url}}"
    type="image/x-icon"
  />
  <link rel="shortcut icon"
    href="{{"/assets/favicon.ico" | relative_url}}"
    type="image/x-icon"
  />
  <link rel="alternate" type="application/rss+xml"
    href="{{ "/rss/news.rss" | absolute_url }}"
  />
  <script async src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"
    integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7"
    crossorigin="anonymous">
  </script>
  <link rel="canonical" href="{{site.canonical}}{{page.url}}" />
  {% assign pqtitle = page.title | append: ' | ' | append: site.title %}
  <title>{{pqtitle}}</title>
  <meta property="og:title" content="{{pqtitle}}" />
  <meta property="og:url" content="{{ page.url | absolute_url }}" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="{{ "/assets/bg/about.jpg" | relative_url }} />

{% if page.url == "/" %}
  {% include schema-org-website.html %}
{% else %}
  {% include seo-schema-org.html %}
{% endif %}
{% comment %}
{% seo %}
{% for ldx in site.data.schema %}
  {% if ldx.citekey == page.citekey %}
    <script type="application/ld+json">
      {{ ldx.linkeddata | replace: '=>', ':' }}
    </script>
  {% endif %}
{% endfor %}
{% endcomment %}

</head>
