<!DOCTYPE html>
<html lang="en-CA">
<head>
  <!-- Responsive -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-4427429-2"></script>
  <script>
    window.dataLayer = window.dataLayer || []
    function gtag(){dataLayer.push(arguments)}
    gtag('js', new Date())
    gtag('config', 'UA-4427429-2')
  </script>

  <!-- Links -->
  <link rel="stylesheet"
    href="{{ "/assets/tipuesearch/css/normalize.css" | relative_url }}"
  />
  <link rel="stylesheet"
    href="{{ "/assets/tipuesearch/css/tipuesearch.css" | relative_url }}"
  />
  <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />
  <!--
  <link rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
    integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous"
  />-->
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"
    integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ="
    crossorigin="anonymous"
  />
  <script src="https://kit.fontawesome.com/44322658e3.js" crossorigin="anonymous"></script>
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous">
  </script>
  <script src="{{ "/assets/jquery.countdown-2.2.0/jquery.countdown.min.js" | relative_url }}"></script>

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/addons/p5.dom.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/addons/p5.sound.min.js"></script>
-->
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet"
    href="{{ "/assets/css/dhhepting.css" | relative_url }}"
  />
  <!-- 
  <link rel="icon"
    href="{{ "/assets/favicon.ico" | relative_url }}"
    type="image/x-icon"
  />
  <link rel="shortcut icon"
    href="{{"/assets/favicon.ico" | relative_url}}"
    type="image/x-icon"
  />
-->
<!-- realfavicongenerator.net -->
<link rel="apple-touch-icon" sizes="180x180" href={{ "/apple-touch-icon.png?v=yyQXRdEJGx" | relative_url }}>
<link rel="icon" type="image/png" sizes="32x32" href={{ "/favicon-32x32.png?v=yyQXRdEJGx" | relative_url }}>
<link rel="icon" type="image/png" sizes="16x16" href={{ "/favicon-16x16.png?v=yyQXRdEJGx" | relative_url }}>
<link rel="manifest" href={{ "/site.webmanifest?v=yyQXRdEJGx" | relative_url }}>
<link rel="mask-icon" href={{ "/safari-pinned-tab.svg?v=yyQXRdEJGx" | relative_url }} color="#5bbad5">
<link rel="shortcut icon" href={{ "/favicon.ico?v=yyQXRdEJGx" | relative_url }}>
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="theme-color" content="#ffffff">
<!-- end realfavicongenerator.net -->
  <link rel="alternate" type="application/rss+xml"
    href="{{ "/rss/news.rss" | absolute_url }}"
  />
  <link rel="canonical" href="{{site.canonical}}{{page.url}}" />
  {% assign pqtitle = page.title | append: ' | ' | append: site.title %}
  <title>{{pqtitle}}</title>
  <meta property="og:title" content="{{pqtitle}}" />
  <meta property="og:url" content="{{ page.url | absolute_url }}" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="{{ "/assets/bg/about.jpg" | relative_url }}" />

{% if page.url == "/" %}
  <meta name="p:domain_verify" content="d853ee8e90688c0fdcf71663ed2abe3a"/>
  {% include schema-org-website.html %}
{% else %}
  {% include seo-schema-org.html %}
{% endif %}

{% comment %}
{% seo %}

{% for ldx in site.data.download %}
  {% if ldx.citeKey == page.citekey %}
    <script type="application/ld+json">
      {{ ldx.linkeddata | replace: '=>', ':' }}
    </script>
  {% endif %}
{% endfor %}
{% endcomment %}


</head>
