{% comment %}
    Updated for boostrap 4 (https://getbootstrap.com/docs/4.0/components/breadcrumb/) and
    does not create a link for the last (active) item
{% endcomment %}
{% assign url_parts = page.url | split: '/' %}
{% assign filesize = url_parts.size %}
{% assign dirsize = filesize | plus: 1 %}
{% assign dircons = "" %}
{% for sp in site.pages %}
    {% if sp.url contains page.url and sp.url > page.url %}
	{{ sp.url }}
	{% assign sp_parts = sp.url | split: '/' %}
        {% if sp_parts.size == filesize or sp_parts.size == dirsize %}
	    {% capture dircons %}{{dircons}}|{{sp.url}}#{{sp.breadcrumb}}{% endcapture %}
        {% endif %}
    {% endif %}
{% endfor %}
{% assign sorteddircons = dircons | split: '|' | sort %}
{% capture numcons %}{{ sorteddircons.size | minus:1 }}{% endcapture %}
<ul>
{{ dircons }}
{% for i in (1..numcons) %}
    {% assign sdc = sorteddircons[i] | split: '#' %}
    <li>
        <a href="{{sdc[0]}}">{{sdc[1]}}</a>
    </li>
{% endfor %}
</ul>
