{%- comment-%}
    Updated for boostrap 4
    (https://getbootstrap.com/docs/4.0/components/breadcrumb/) and
    does not create a link for the last (active) item
{%- endcomment-%}
{%- assign url_parts = page.url | split: '/'-%}
{%- assign filesize = url_parts.size-%}
{%- assign dirsize = filesize | plus: 1-%}
{%- assign dircons = "" -%}
{%- if page.files -%}
  {%- assign pfs = page.files.size -%}
  {%- assign pfi = 1 | plus: 0 -%}
<ul>
  {%- for pf in page.files -%}
    {% assign pfn = pf.n %}
    {%- assign pfurl = page.url | append: pfn -%}
    {%- unless pfn contains "." -%}
      {%- assign pfurl = pfurl | append: "/" -%}
    {%- endunless -%}
    {%- assign bc_page = site.pages | where: "url", pfurl -%}
    {% if bc_page[0].breadcrumb %}
      {%- assign pfb = bc_page[0].breadcrumb -%}
    {% else %}
      {% assign pfb = pf.b %}
    {% endif %}
  <li><a href="{{ pfurl | relative_url }}">{{- pfb -}}</a></li>
  {% endfor %}
</ul>
{%- else -%}
  {%- for sp in site.pages-%}
      {%- if sp.url contains page.url and sp.url != page.url-%}
  	{%- assign sp_parts = sp.url | split: '/'-%}
          {%- if sp_parts.size == filesize or sp_parts.size == dirsize-%}
  	    {%- capture dircons-%}{{dircons}}|{{sp.url}}#{{sp_parts | last}}{%- endcapture-%}
          {%- endif-%}
      {%- endif-%}
  {%- endfor-%}
  {%- assign code_files = site.static_files-%}
  {%- for mycode in code_files-%}
    {%- if mycode.path contains page.url-%}
  	{%- assign sf_parts = mycode.path | split: '/'-%}
          {%- if sf_parts.size == dirsize-%}
            {%- capture dircons-%}{{dircons}}|{{mycode.path}}#{{sf_parts | last}}{%- endcapture-%}
          {%- endif-%}
    {%- endif-%}
  {%- endfor-%}
  {%- assign sorteddircons = dircons | split: '|' | sort-%}
  {%- capture numcons-%}{{ sorteddircons.size | minus:1 }}{%- endcapture-%}
<ul>
  {%- for i in (1..numcons) -%}
    {%- assign sdc = sorteddircons[i] | split: '#'-%}
  <li>
    <a href="{{sdc[0] | relative_url}}">{{sdc[1]}}</a>
  </li>
  {% endfor %}
</ul>
{%- endif -%}
