This assignment is worth {{ page.marks}} marks, according to the following rubric:

##### Rubric

<div class="table-responsive">
  <table class="table table-bordered table-striped">
    <thead>
		  <tr>
        <th><em>Criterion and Weight</em></th>
        <th>Excellent</th>
        <th>Satisfactory</th>
        <th>Poor</th>
        <th>Unacceptable</th>
      </tr>
    </thead>
    <tbody>
{% for r in page.rubric %}
      <tr>
        <th>
          {{r.crit}} ({{r.wt}})
        </th>
        <td>
          <ul>
            <li>(+) {{r.ep}}</li>
            <li>(o) {{r.er}}</li>
            <li>(-) {{r.em}}</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>(+) {{r.sp}}</li>
            <li>(o) {{r.sr}}</li>
            <li>(-) {{r.sm}}</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>(+) {{r.pp}}</li>
            <li>(o) {{r.pr}}</li>
            <li>(-) {{r.pm}}</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>(+) {{r.up}}</li>
            <li>(o) {{r.ur}}</li>
          </ul>
        </td>
			</tr>
{% endfor %}
		</tbody>
	</table>
</div>

Grade penalties will be applied in the following situations for assignment submissions:
* on time but the written instructions for the submission were not followed:
deduct 10% of the earned grade
* late (but within 48 hours of the due date and time):
deduct 10% of the earned grade
* late by more than 48 hours:
deduct 50% of the earned grade

##### Calculator

<form>
  <!-- penalties -->
  <div class="form-group border bg-info m-2 p-4" id="pen">
    <strong>Penalties</strong>
    <div class="form-check" id="p0">
      <input class="form-check-input" type="radio" name="penalties"
      id="penalty-0" value="0" checked>
      <label class="form-check-label" for="penalties">No penalty: on-time and followed instructions</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="penalties"
      id="penalty-1" value="10">
      <label class="form-check-label" for="penalty-1">
        Instructions not followed
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="penalties"
      id="penalty-2" value="10">
      <label class="form-check-label" for="penalty-2">
        Assignment submitted late, but within 48 hours
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="penalties"
      id="penalty-3" value="50">
      <label class="form-check-label" for="penalty-3">
        Assignment submitted more than 48 hours late
      </label>
    </div>
  </div>

  <!-- rubric criteria -->
  <div class="border bg-info m-2 p-4">
    <strong>Rubric Criteria</strong>
{% assign critctr = 0 %}
{% assign sumwt = 0 %}
{% for r in page.rubric %}
  {% assign critctr = critctr | plus: 1 %}
  {% capture critid %}rcriterion{{critctr}}{% endcapture %}
  {% assign sumwt = sumwt | plus: r.wt %}
    <div class="form-group row">
      <label class="col-3 col-form-label text-right" for="{{critid}}">{{r.crit}} ({{r.wt}})</label>
      <select class="col-9 form-control" name="criteria" id="{{critid}}">
        <option selected disabled>Choose...</option>
        <option value="10">Excellent (+): {{r.ep}}</option>
        <option value="9">Excellent: {{r.er}}</option>
        <option value="8">Excellent (-): {{r.em}}</option>
        <option value="7">Satisfactory (+): {{r.sp}}</option>
        <option value="6">Satisfactory: {{r.sr}}</option>
        <option value="5">Satisfactory (-): {{r.sm}}</option>
        <option value="4">Poor (+): {{r.pp}}</option>
        <option value="3">Poor: {{r.pr}}</option>
        <option value="2">Poor (-): {{r.pm}}</option>
        <option value="1">Unacceptable (+): {{r.up}}</option>
        <option value="0">Unacceptable: {{r.ur}}</option>
      </select>
    </div>
{% endfor %}
  </div>
</form>

{% assign totmarks = page.marks | plus: 0 %}
{% if sumwt != totmarks %}
<h1>MARKS DON'T ADD UP!</h1>
{% endif %}

<button class="btn btn-primary" onclick="process()">Process</button>

<strong>Grade</strong> <span id="grade"></span>

<strong>Comments</strong>
<!-- Target -->
<div class="border border-primary rounded flex-row flex-nowrap">
  <a id="clipboard" href="#clipboard"
  class="btn btn-primary" aria-label="Copy comments"
  data-clipboard-action="copy" data-clipboard-target="#comments">
    <span class="far fa-clipboard fa-inverse" title="Copy comments to clipboard">
    </span>
  </a>
  <code><pre id="comments"></pre></code>
</div>

<script>
  function process()
  {
    <!-- get multiplier from penalty radio buttons -->
    //var penalty = document.getElementById("pen");
    //var checked = penalty.querySelector("input[name=penalties]:checked");
    var checked = document.querySelector("input[name=penalties]:checked");
    var mult = (100.0 - checked.value)/100.0;
    console.log(checked.value);
    console.log(checked.parentNode.querySelector("label").textContent);

    var crits = document.getElementsByName("criteria");
    for (var i = 0, length = crits.length; i < length; i++)
    {
      console.log(crits[i].value);
      console.log(crits[i].id);
      console.log(crits[i].options[crits[i].selectedIndex].text);
    }
    <!-- get weight from C1 selector, multiply by weight -->
    // var c1 = document.getElementById("rubric_c1");
    // var c1_v = (c1.value / 10.0) * 3.0;
    // var mg = Math.round(mult * c1_v * 10) / 10;
    //
    // var c1_t = c1.options[c1.selectedIndex].text;
    //
    // var gradespan = document.getElementById("grade");
    // gradespan.textContent = mg.toString();
    //
    // var gp = Math.round(mg / 3.0 * 100);
    // var percentspan = document.getElementById("percent");
    // percentspan.textContent = gp.toString();

    var commentspan = document.getElementById("comments");
    commentspan.textContent = checked.parentNode.querySelector("label").textContent;
  }
</script>
