{% comment %}
Idea: create 2 data files -- one for semester (for start date, end date,
no meeting dates) and the other for courses (for meeting days, times, room,
final exam date)
{% endcomment %}
{% assign days = "Mon, Wed, Fri" | split: ", " %}
{% assign deltas = "172800, 172800, 259200" | split: ", " %}
{% assign sdts = "September 5, 2018" | date: "%s"  %}
{% assign edts = "December 6, 2018" | date: "%s"  %}
{% assign nomeet = "08 Oct, 07 Nov, 09 Nov, 12 Nov" | split: ", "  %}
<h1>
Meetings
</h1>
{% assign firstday = sdts | date: "%a"  %}
{% for i in (0..2) %}
  {% if days[i] == firstday %}
    {% assign day_idx = i %}
  {% endif %}
{% endfor %}
<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr class="bg-info">
        <th>Week</th>
{% for i in (0..2) %}
        <th>{{days[day_idx]}}</th>
  {% assign day_idx = day_idx | plus: 1 | modulo: 3 %}
{% endfor %}
      </tr>
    </thead>
{% assign emd = edts | plus: 0 %}
{% assign md = sdts %}
{% assign mdidx = day_idx %}
{% assign mdates = "" %}
{% assign mctr = 0 %}
{% assign mtgctr = 1 %}
{% assign week = 1 %}
    <tbody>
{% for m in (1..45) %}
    {% assign mctr = mctr | plus: 1 %}
    {% assign mmod3 = mctr | modulo: 3 %}
    {% if mmod3 == 1 %}
      <tr>
        <td>{{week}}</td>
    {% endif %}
    {% assign mdate = md | date: "%d %b" %}
    {% if nomeet contains mdate %}
        <td>&mdash;</td>
    {% else %}
    	{% assign mctrstr = mtgctr | prepend: '00' | slice: -2, 2 %}
        <td><a href="{{mctrstr}}.html">{{mctrstr}} : {{mdate}}</a></td>
        {% assign mtgctr = mtgctr | plus: 1 %}
    {% endif %}
    {% assign md = md | plus: deltas[mdidx] %}
    {% assign mdidx = mdidx | plus: 1 | modulo: 3 %}
    {% if mmod3 == 0 %}
      </tr>
        {% assign week = week | plus: 1 %}
    {% endif %}
    {% if md > emd %}
      {% break %}
    {% endif %}
{% endfor %}
{% if mmod3 == 1 %}
        <td>&mdash;</td>
        <td>&mdash;</td>
      </tr>
{% endif %}
{% if mmod3 == 2 %}
        <td>&mdash;</td>
      </tr>
{% endif %}
    </tbody>
  </table>
</div>
<h3>
Total meetings this semester: {{mtgctr | minus: 1}}
</h3>
