{% include offering-url.html %}
{% assign totmeet = page.total_meet | plus: 1 %}
{% assign prv_mtg = crs_mtg | minus: 1 | modulo: totmeet %}
{% if prv_mtg == 0 %}
  {% assign prv_mtg = page.total_meet %}
{% endif %}
{% assign nxt_mtg = crs_mtg | plus: 1 | modulo: totmeet %}
{% if nxt_mtg == 0 %}
  {% assign nxt_mtg = 1 %}
{% endif %}
<h1>
<a href="{{prv_mtg | prepend: '00' | slice: -2, 2}}.html"><span class="fas fa-arrow-left"></span></a>
Mtg {{crs_mtg}} / {{ page.total_meet }}
<a href="{{nxt_mtg | prepend: '00' | slice: -2, 2}}.html"><span class="fas fa-arrow-right"></span></a>
</h1>
{% if crs_mtg > 1 %}
  <h3><a href="{{prv_mtg | prepend: '00' | slice: -2, 2}}.html">Questions from Last Meeting?</a></h3>
{% endif %}
