{% assign jpglist = "" %}
{% assign has_media = "false" %}
{% assign media_ctr = 0 %}
{% assign mtgstr = include.mtg | prepend: '00' | slice: -2, 2 %}

{% if site.data.teaching.media[include.mtg_media] %}
  {%- for m in site.data.teaching.media[include.mtg_media] -%}
    {%- if m.meet == mtgstr -%}
      {% assign has_media = "true" %}
      {% break %}
    {% endif %}
  {% endfor %}

  {% if has_media == "true" %}

<div class="card">
  <h3 class="card-header text-center">{{include.mtg_title}}</h3>
  <div class="card-body">
    {%- for m in site.data.teaching.media[include.mtg_media] -%}
      {%- if m.meet == mtgstr -%}
        {%- if m.file contains "jpg" -%}
          {%- capture jpglist-%}{{jpglist}}|{{m.file}}#{{m.URL}}{%- endcapture-%}
        {%- endif -%}
        {%- if m.file contains "m4a" -%}
          {% assign audio_url = m.URL %}
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
    {%- assign sortedjpgs = jpglist | split: '|' | sort -%}
    {%- assign numjpgs = sortedjpgs.size | minus:1 -%}
    {%- capture carid -%}mtg_jpgs_{{ mtgstr }}{% endcapture %}
    <div id="{{carid}}" class="carousel slide" data-ride="carousel" data-interval="false">
      <ol class="carousel-indicators">
    {%- for i in (1..numjpgs) -%}
      {%- if i == 1 %}
        <li data-target="#{{carid}}" data-slide-to="0" class="active"></li>
      {%- else %}
        <li data-target="#{{carid}}" data-slide-to="{{ i | minus: 1}}" class="active"></li>
      {%- endif %}
    {%- endfor -%}
      </ol>
      <div class="carousel-inner">
    {%- for i in (1..numjpgs) -%}
      {%- if i == 1 %}
        <div class="carousel-item active">
      {%- else %}
        <div class="carousel-item">
      {%- endif -%}
      {% assign sj = sortedjpgs[i] | split: '#' %}
          <img class="img-fluid" src="{{ sj[1] }}" alt="{{ sj[0] }}">
        </div>
    {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#{{carid}}" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#{{carid}}" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="card-footer text-center">
    <audio controls="true" src="{{ audio_url }}" type="audio/mp4">
      Your browser does not support the <code>audio</code> element.
    </audio>
  </div>
</div>
  {%- endif -%}
{%- endif -%}
