{% if site.data[include.mtg_media] %}
  <h3>Media from Meeting</h3>
  <ul>
  {% assign media_ctr = 0 %}
  {% assign mtgstr = include.mtg | prepend: '00' | slice: -2, 2 %}
  {% for media in site.data[include.mtg_media] %}
    {% if media.meet == mtgstr %}
    	<li><a href="{{media.URL}}">{{media.file}}</a></li>
          {% assign media_ctr = media_ctr | plus: 1 %}
    {% endif %}
  {% endfor %}
  {% if media_ctr == 0 %}
    <li>Nothing available for {{include.mtg}}</li>
  {% endif %}
  </ul>
{% endif %}
