<div class="navbar-expand" role="navigation">
<nav class="navbar navbar-dark"
style="background-color: rgba(32, 32, 32, 0.75)">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
      <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Site
      </a>
      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown" navbar-dark
      style="background-color: rgba(32, 32, 32, 0.75)">
      {% include sitenav.html %}
      </ul>
    </li>
  </ul>
</nav>
</div>
