<nav class="navbar navbar-expand navbar-dark"
style="background-color: rgba(32, 32, 32, 0.75)">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#"
      id="nav-menu" role="button" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
        Site
      </a>
      <ul class="dropdown-menu" aria-labelledby="nav-menu"
      style="background-color: rgba(224,224, 224, 1.0)">
      {% include sitenav.html %}
      </ul>
    </li>
  </ul>
</nav>
