# Assignments

{% include teaching-url.html %}
{% if site.data.teaching.assignments[off_med] %}
<div class="accordion" id="accordionExample">
  {% for sdta in site.data.teaching.assignments[off_med] %}
    {% for sa in site.assignments %}
      {% if sa.title == sdta.title %}
        {% assign cm = sa.marks | plus: 0 %}
        {% assign oam = sdta.marks | plus: 0 %}
        {% if cm == oam %}
        <div class="card">
          <div class="card-header" id="headingOne">
            <h3 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                {{ sdta.title }}
              </button>
            </h3>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              {{ sa.content | markdownify }}
            </div>
          </div>
        </div>
    {% endif %}
  {% endif %}
  {% endfor %}
{% endfor %}
</div>
  {% endif %}
