<div class="card my-2" id="syll-card">
  <h3 class="card-header text-center">Information</h3>
  <div class="card-body">
    {% capture syll_url %}/assets/teaching/pdf/{{ off_med }}_syllabus.pdf{% endcapture %}
    {% capture sched_url %}/teaching/schedule/{{ crs_sem }}.html{% endcapture %}
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <a href="{{ syll_url | relative_url }}">
          Syllabus
        </a>
      </li>
      <li class="list-group-item">
        <a href="{{ sched_url | relative_url }}">
          Semester Schedule
        </a>
      </li>
    </ul>
  </div>
</div>
