{%- capture topics_url -%}/teaching/{{crs_sbj}}-{{crs_nbr}}/{{crs_sem}}/topics.html{%- endcapture -%}
{%- for sp in site.pages -%}
  {%- if sp.url == topics_url -%}
    {%- assign topp = sp -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}

{%- if topp -%}
<div class="card my-2">
  <h3 class="card-header text-center">Topics</h3>
  <div class="card-body">
    {% assign ctr = 1 %}
    <ul>
    {%- for tlo in topp.tlouts -%}
    	<li><a href="topics.html#know{{ctr}}">{{tlo.ka | replace: "--", ", " | replace: "-"," " | replace: "_","-"}}</a></li>
    	{%- assign ctr  = ctr | plus: 1 -%}
    {% endfor %}
    </ul>
  </div>
</div>
{%- endif -%}
