{% comment %}
{% include offering-url.html %}
# {{ crs_sbj }} {{ crs_nbr }} &bull; {{ crs_sem }}
maybe get the course name from a data file
### {{ page.crs_name }}

{% include index-dir.html %}
{% endcomment %}

{% include teaching-url.html %}

# {{ crs_sbj }} {{ crs_nbr }} in {{ crs_sem }}

{% include off-cal-card.html %}

<div class="card-deck">
  {% include off-syll-card.html %}
  {% include off-rss-card.html %}
  {% include off-topics-card.html %}
</div>

{% include off-assignments-card.html %}

{% include off-media-card.html %}
