{% assign revworks = site.works | sort | reverse %}

{% assign relwrk = false %}
{% for item in revworks %}
  {% for ip in item.projects %}
    {% if ip contains page.project %}
      {% assign relwrk = true %}
      {% break %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% if relwrk == true %}
<h3>
  Related Works
</h3>
<ul>
{% for item in revworks %}
  {% for ip in item.projects %}
    {% if ip contains page.project %}
      <li>
        <a href="{{ item.url | relative_url }}">
          {{ item.breadcrumb }}
        </a>
	<span class="badge badge-info badge-sm">
          {{ item.category }}
        </span>
      </li>
    {% endif %}
  {% endfor %}
{% endfor %}
</ul>
{%endif %}
