# Schedule

{% if site.data.schedule.schedule %}
  {% assign sched = "" %}
  {% for r in site.data.schedule.schedule %}
    {% assign rts = "" %}
    {% capture rts %}{{rts}}{{r.Times}},{% endcapture %}
    {% capture rts %}{{rts}}{{r.Monday}},{% endcapture %}
    {% capture rts %}{{rts}}{{r.Tuesday}},{% endcapture %}
    {% capture rts %}{{rts}}{{r.Wednesday}},{% endcapture %}
    {% capture rts %}{{rts}}{{r.Thursday}},{% endcapture %}
    {% capture rts %}{{rts}}{{r.Friday}},{% endcapture %}
    {% capture sched %}{{sched}}#{{rts}}{% endcapture %}
  {% endfor %}
    
<div class="container-fluid">
  <table class="table table-responsive table-striped table-bordered">
    <thead>
      <tr>
        <th><em>Times</em></th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
      </tr>
    </thead>
    <tbody>
      {% comment %}
      {% endcomment %}
      {% assign schedslot = sched | split: "#" %}
      {% assign spans = ",1,1,1,1,1" %}
      {% assign ssa = schedslot[1] | split: "," %}
      {% assign M = ssa[1] %}
      {% assign T = ssa[2] %}
      {% assign W = ssa[3] %}
      {% assign R = ssa[4] %}
      {% assign F = ssa[5] %}
      {% comment %}
      {% endcomment %}
      {% assign spansa = spans | split: "," %}
      {% assign Mspan = 0 %}
      {% assign Tspan = 0 %}
      {% for d in (1..5) %}
	  {% assign sd = spansa[d] | plus: 0 %}
	  sd = {{ sd }}
	  {% assign Mdone = false %}
	  {% assign Tdone = false %}
	  {% assign Wdone = false %}
	  {% assign Rdone = false %}
	  {% assign Fdone = false %}
          {% for s in (sd..17) %}
            {% assign ssa = schedslot[s] | split: "," %}
	  {% case d %}
	    {% when 1 %}
		{% assign newM = ssa[1] %}
		IF {{newM}} == {{M}} [{{s}}]
		{% if newM == M %}
		  {% assign Mspan = Mspan | plus: 1 %}
		  --> Mspan = {{ Mspan}}
		{% else %}
                  {% assign Mdone = true %}
		  --> Mdone = {{Mdone}}
		  {% break %}
		{% endif %}
	        {% assign M = newM %}
	    {% when 2 %}
		{% assign newT = ssa[1] %}
		{% if newT == T %}
		  {% assign Tspan = Tspan | plus: 1 %}
		{% else %}
                  {% assign Tdone = true %}
		{% endif %}
	        {% assign T = newT %}
		{% if Tdone == true %}
		  Tspan = {{ Tspan }}
		  {% continue %}
		{% endif %}
	    {% when 3 %}
		  Wspan = {{ Wspan }}
	    {% when 4 %}
		  Rspan = {{ Rspan }}
	    {% when 5 %}
		  Fspan = {{ Fspan }}
	    {% else %}
	  {% endcase %}
	  {% capture spans %},{{Mspan}},{{Tspan}},{{Widx}},{{Ridx}},{{Fidx}}{% endcapture %}
	{% endfor %}
	{% if Mdone == true %}
	  Mspan = {{ Mspan }} ({{Mdone}})
	  {% continue %}
	{% endif %}
  	  
        <tr>
            <td rowspan="1">{{ssa[0]}}</td>
	    {% for d in (1..5) %}
	      {% if daysa[d] | plus: 0 <= s %}
                {% if ssa[d] %}
                  <td rowspan="{{daysa[1]}}">{{d}}--{{ssa[d]}}--{{daysa[d]}}</td>
                {% endif %}
              {% endif %}
            {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table> 
</div>
{% endif %}
