<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "url": "{{ "/" | absolute_url }}",
  "name": "{{ site.title }}",
  {% comment %}
  "about":
  {
    "@type": "Person",
    "@id": "{{ "/about/" | absolute_url }}#DHHepting"
  },
  "description": "{{ site.title }} : {{ site.description }}",
  {% endcomment %}
  {%- assign search_url = "/search/" | absolute_url -%}
  {%- capture target -%}{{search_url}}?q={tipue_search_input}{% endcapture %}
  "potentialAction": [{
    "@type": "SearchAction",
    "name": "Site Search",
    "target": "{{ target }}",
    "query-input": "required name=tipue_search_input"
  }],
  "image":
  [
    "http://www2.cs.uregina.ca/~hepting/android-chrome-512x512.png",
    "http://www2.cs.uregina.ca/~hepting/android-chrome-192x192.png",
    "http://www2.cs.uregina.ca/~hepting/favicon-194x194.png",
    "http://www2.cs.uregina.ca/~hepting/assets/about/img/dh.svg"
  ]
}
</script>
