{% comment %}
create a whitelist for files to be indexed:
name, value pairs name for file, value for breadcrumb if plain file
{% endcomment %}
{
  "@type": "ItemList",
  "itemListElement":
  [
{% assign url_parts = page.url | split: '/' %}
{% assign filesize = url_parts.size %}
{% assign dirsize = filesize | plus: 1 %}
{% assign dircons = "" %}
{% if page.files %}
  {% assign pfs = page.files.size %}
  {% assign pfi = 1 | plus: 0 %}
  {% for pf in page.files %}
    {% assign pfn = pf.n %}
    {% unless pfn contains "." %}
      {% assign pfn = pfn | append: "/" %}
    {% endunless %}
    {% assign pfurl = page.url | append: pfn %}
    {%- assign bc_page = site.pages | where: "url", pfurl -%}
    {% if bc_page[0].breadcrumb %}
      {% assign pfb = bc_page[0].breadcrumb %}
    {% else %}
      {% assign pfb = pf.b %}
    {% endif %}
    {
      "@type": "ListItem",
      "position": {{ pfi }},
      "item":
      {
        "@type": "WebPage",
        "@id": "{{ pfurl | absolute_url }}",
        "name": "{{ pfb }}"
      }
      {% if pfi < pfs %}
    },
      {% else %}
    }
      {% endif %}
    {% assign pfi = pfi | plus: 1 %}
  {% endfor %}
{% elsif url_parts contains "gallery" %}
  {%- for sp in site.gallery -%}
    {%- if sp.url contains page.url and sp.url != page.url -%}
      {%- assign sp_parts = sp.url | split: '/' -%}
      {%- if sp_parts.size == filesize or sp_parts.size == dirsize -%}
        {%- capture dircons -%}{{dircons}}|{{sp.url}}#{{sp.breadcrumb}}{%- endcapture -%}
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
{% elsif url_parts contains "posts" %}
  {%- for sp in site.posts -%}
    {%- if sp.url contains page.url and sp.url != page.url -%}
      {%- assign sp_parts = sp.url | split: '/' -%}
      {%- if sp_parts.size == filesize or sp_parts.size == dirsize -%}
        {%- capture dircons -%}{{dircons}}|{{sp.url}}#{{sp.breadcrumb}}{%- endcapture -%}
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
{% elsif url_parts contains "works" %}
  {%- for sp in site.works -%}
    {%- if sp.url contains page.url and sp.url != page.url -%}
      {%- assign sp_parts = sp.url | split: '/' -%}
      {%- if sp_parts.size == filesize or sp_parts.size == dirsize -%}
        {%- capture dircons -%}{{dircons}}|{{sp.url}}#{{sp.breadcrumb}}{%- endcapture -%}
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
{% else %}
  {%- for sp in site.pages -%}
    {%- if sp.url contains page.url and sp.url != page.url -%}
      {%- assign sp_parts = sp.url | split: '/' -%}
      {%- if sp_parts.size == filesize or sp_parts.size == dirsize -%}
        {%- capture dircons -%}{{dircons}}|{{sp.url}}#{{sp.breadcrumb}}{%- endcapture -%}
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
{% endif %}
{%- assign sorteddircons = dircons | split: '|' | sort -%}
{%- assign numcons = sorteddircons.size | minus:1 -%}
{%- for i in (1..numcons) -%}
  {% assign sdc = sorteddircons[i] | split: '#' %}
      {
        "@type": "ListItem",
        "position": {{ i }},
        "item":
        {
          "@type": "WebPage",
          "@id": "{{ sdc[0] | absolute_url }}",
          "name": "{{ sdc[1] }}"
        }
        {% if i < numcons %}
      },
        {% else %}
      }
        {% endif %}
{%- endfor -%}
  ]
}
