  "@type": "AboutPage",
  "breadcrumb":
  {% include schema-org-breadcrumbs.html %}
  ,
  "mainEntity":
  {
    "@context": "http://schema.org",
		"@type": "Person",
		"@id": "{{ "/about/" | absolute_url }}#DHHepting",
		"givenName": "Daryl",
		"additionalName": "H.",
		"familyName": "Hepting",
		"honorificSuffix": "Ph.D.",
		"jobTitle": "Associate Professor",
		"worksFor":
    {
      "@type": "CollegeOrUniversity",
			"name": "University of Regina",
			"url": "https://www.uregina.ca/",
			"sameAs": "https://en.wikipedia.org/wiki/University_of_Regina"
		},
		"address":
    {
      "@type": "PostalAddress",
      "streetAddress": "3737 Wascana Parkway",
      "addressLocality": "Regina",
      "addressRegion": "Saskatchewan",
      "postalCode": "S4S 0A2",
      "addressCountry": "Canada"
		},
    "image": "{{ "/assets/about/img/dhh-2012-360x360.jpg" | absolute_url }}",
    "email":
    [
      "hepting@cs.uregina.ca",
			"daryl.hepting@uregina.ca"
		],
		"telephone": "+1-306-585-5210",
		"url": "{{ "/" | absolute_url }}",
		"sameAs":
    [
      "http://orcid.org/0000-0002-3138-3521",
			"https://www.scopus.com/authid/detail.uri?authorId=7801380650",
			"https://uregina.academia.edu/DarylHepting",
			"https://aminer.org/profile/53f45b6bdabfaedd74e4095c",
			"http://dblp.uni-trier.de/pers/hd/h/Hepting:Daryl_H=.html",
			"https://scholar.google.ca/citations?user=iXVS1CAAAAAJ&hl=en",
			"https://www.interaction-design.org/literature/author/daryl-h-hepting",
			"https://academic.microsoft.com/#/profile/DarylHepting",
			"http://ourspace.uregina.ca/handle/10294/6891",
			"https://www.researchgate.net/profile/Daryl_Hepting",
			"http://www.researcherid.com/rid/A-8073-2010",
			"https://www.semanticscholar.org/author/Daryl-H-Hepting/2926392"
		],
		"alumniOf":
    [
			{
				"@type": "OrganizationRole",
				"alumniOf": {
					"@type": "HighSchool",
					"name": "Luther College",
					"url": "https://www.luthercollege.edu/high-school/"
				},
				"startDate": "1983"
			},
			{
				"@type": "OrganizationRole",
				"alumniOf": {
					"@type": "CollegeOrUniversity",
					"name": "Luther College, University of Regina",
					"url": "https://www.luthercollege.edu/university/"
				},
				"startDate": "1988"
			},
			{
				"@type": "OrganizationRole",
				"alumniOf": {
					"@type": "CollegeOrUniversity",
					"name": "University of Regina",
					"url": "https://www.uregina.ca/",
					"sameAs": "https://en.wikipedia.org/wiki/University_of_Regina"
				},
				"startDate": "1991"
			},
			{
				"@type": "OrganizationRole",
				"alumniOf": {
					"@type": "CollegeOrUniversity",
					"name": "Simon Fraser University",
					"url": "https://www.sfu.ca/",
					"sameAs": "https://en.wikipedia.org/wiki/Simon_Fraser_University"
				},
				"startDate": "2000"
			}
		]
	}
