{% comment %}
    Updated for boostrap 4 (https://getbootstrap.com/docs/4.0/components/breadcrumb/) and
    does not create a link for the last (active) item
{% endcomment %}
{% capture indexdirurl %}{{ page.url | remove: "/index.html" }}{% endcapture %}
{% assign idu_parts = indexdirurl | split: '/' %}
{% assign course_size = idu_parts.size | plus: 1 %}
{% assign sem_size = idu_parts.size | plus: 2 %}
{% assign semnbr = sem_size | minus: 1 %}
{% assign courses = "" %}
{% assign sems = "" %}
{% for sp in site.pages %}
    {% if sp.url contains indexdirurl and sp.url > indexdirurl %}
	{% assign sp_parts = sp.url | split: '/' %}
        {% if sp_parts.size == course_size %}
	    {% capture courses %}{{courses}}|{{sp.url}}#{{sp.breadcrumb}}#{{sp.crs_name}}#{{sp.description}}{% endcapture %}
        {% elsif sp_parts.size == sem_size %}
	    {% if sp_parts[semnbr] contains "2" %}
	      {% capture sems %}{{sems}}|{{sp.url}}#{{sp_parts[semnbr]}}{% endcapture %}
	    {% endif %}
        {% endif %}
    {% endif %}
{% endfor %}
{% assign sortedcourses = courses | split: '|' | sort | reverse %}
{% capture numcourses %}{{ sortedcourses.size | minus:1 }}{% endcapture %}
{% assign sortedsems = sems | split: '|' | sort | reverse  %}
{% capture numsems %}{{ sortedsems.size | minus:1 }}{% endcapture %}
{% for i in (1..numcourses) %}
    {% assign cc = sortedcourses[i] | split: '#' %}
    {% assign cc_parts = cc[0] | split: '/' %}
<div class="card">
  <div class="card-header" style="background-color: cyan;">
        <a href="{{cc[0]}}"><h3>{{cc[1]}} : {{cc[2]}}</h3></a>
  </div>
  <div class="card-body">
	<h5>Calendar Description</h5>
	<p>
	{{ cc[3] }}
	</p>
	<h5>Semesters</h5>
	<ul>
	{% for j in (1..numsems) %}
    	  {% assign ss = sortedsems[j] | split: '#' %}
	  {% if ss[0] contains cc_parts[2] %}
            <li><a href="{{ss[0]}}">{{ss[1]}}</a></li>
	  {% endif %}
	{% endfor %}
	</ul>
  </div>
</div>
<span>
  &nbsp;
</span>
{% endfor %}
