<hr />

Topics and Learning Outcomes for this course are based on the 
[ACM/IEEE Curriculum Guidelines for Undergraduate Degree Programs in Computer Science (2013)](https://www.acm.org/binaries/content/assets/education/cs2013_web_final.pdf).
That report associates one of three levels of mastery with each Learning Outcome. The mastery levels are defined as:

* Familiarity: The student understands what a concept is or what it means. 
This level of mastery concerns a basic awareness of a concept as opposed to 
expecting real facility with its application. 
It provides an answer to the question “What do you know about this?”
* Usage: The student is able to use or apply a concept in a 
concrete way. 
Using a concept may include, for example, 
appropriately using a specific concept in a program, 
using a particular proof technique, 
or performing a particular analysis. 
It provides an answer to the question “What do you know how to do?”
* Assessment: The student is able to consider a concept from 
multiple viewpoints and/or justify the selection of a 
particular approach to solve a problem.
This level of mastery implies more than using a concept; 
it involves the ability to select an appropriate
approach from understood alternatives. 
It provides an answer to the question “Why would you do that?”

<hr />
