{% include teaching/url.html %}
{% assign planfile = site.data.teaching[jcrs_id][crs_sem]plan %}
{% assign mtn = include.mn | prepend: '00' | slice: -2, 2  %}

<!-- Access to Other Meetings - Paginated -->
{%
  include meetings/pagination.html
  tm=include.tm
  cm=include.mn
 %} 

<div class="card">
  <!-- Meeting Date as card header -->
  <div class="card card-header lightcthru">
    <h1>
      {{ include.md | date: '%a-%d-%b-%Y' }}
    </h1>
  </div>
  <div class="card card-body">
  {%  assign lvl = 'h5'  %}

  <!-- Upcoming Events -->

  {%  capture upurl  %} https://urcourses.uregina.ca/calendar/view.php?view=upcoming&course={{ crs_urc }}{%  endcapture  %}
  {%
    include helper/lnk-card.html
    label="Upcoming Events" level=lvl
    id='EVENTS' url=upurl
   %}
  {% comment %}{% endcomment %}
  <!-- Review of Last Meeting -->
  {%  assign lmt = include.mn | minus: 1  %}
  {%  if lmt > 0  %}  <!-- line 59 -->
    {%
      include helper/pd-card.html
      test=planfile label="Review of Last Meeting" level=lvl
      open='n' mtg=lmt pass='n' id='MTGREV' body='meetings/review-body.html'
     %}
  {%  endif  %}





  {% include meetings/plan.html mtg=include.mn %}

  <hr /><hr />

  {% include meetings/annotations.html %}

  {% include meetings/media.html mtg=include.mn %}
  {% comment %}
  {% include meetings/transcript.html mtg=include.mn %}
{% endcomment %}
  </div>
</div>
