{%- include teaching/url.html %}
{%- assign planfile = site.data.teaching[jcrs_id][crs_sem]yplan %}
{%- assign prvmtg = include.mn | minus: 1 -%}
{%- assign prvlnk = nil -%}
{%- assign prevm = site.data.teaching[jcrs_id][crs_sem]meetings | find: "meeting", prvmtg -%}
{%- if prevm -%}
  {%- assign prvlnk = prevm.file -%} 
{%- endif -%}

{%- assign nxtmtg = include.mn | plus: 1 -%}
{%- assign nxtlnk = nil -%}
{%- assign nextm = site.data.teaching[jcrs_id][crs_sem]meetings | find: "meeting", nxtmtg -%}
{%- if nextm -%}
  {%- assign nxtlnk = nextm.file -%} 
{%- endif -%}

<div>
  <h1 id="mtgh1">
    Mtg {{ include.mn | plus: 0 }}/{{ include.tm }}: {{ include.md | date: '%a-%d-%b-%Y' }}
  </h1>
  <div class="card">
    <div id="mtghdr" class="card card-header w-100 bg-info">
      <div class="row align-items-center">
        <div class="col-4 text-start">
          <div class="btn-group" role="group" aria-label="Previous, Up, and Next controls">
          {%- if prvlnk == nil -%}
            <a role="button" class="btn btn-primary disabled">
              <span class="bi bi-arrow-left-circle"></span>
            </a>
          {%- else -%}
            <a href="{{ prvlnk }}" role="button" class="btn btn-primary">
              <span class="bi bi-arrow-left-circle"></span>
            </a>
          {%- endif -%}
            <a href="." role="button" class="btn btn-primary">
              <span class="bi bi-arrow-up-circle"></span>
            </a>
          {%- if nxtlnk == nil -%}
            <a role="button" class="btn btn-outline-primary disabled">
              <span class="bi bi-arrow-right-circle"></span>
            </a>
          {%- else -%}
            <a href="{{ nxtlnk }}" role="button" class="btn btn-primary">
              <span class="bi bi-arrow-right-circle"></span>
            </a>
          {%- endif -%}
          </div>
        </div>
        <div class="col-8 text-center">
          <ul class="nav nav-pills" id="navbar-example2">
            <li class="nav-item">
              <a class="nav-link" href="#ssToday">Outline</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#ssMedia">Media</a>
            </li>
            <li class="nav-item"> {%comment%}dropdown{%endcomment%}
              <a class="nav-link" href="#ssTranscript">Transcript</a>

               {%comment%}
               dropdown-toggle"
                data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">
                  Transcript
              </a>

              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="#ssAudio-Transcript">
                    Audio Transcript
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#ssZoom-Chat-Transcript">
                    Zoom Chat Transcript
                  </a>
                </li>
              </ul>
              {%endcomment%}
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">
                  Responses
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="#ssR-Important">
                    The most important thing that I encountered
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#ssR-Difficult">
                    The most difficult thing for me to understand
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#ssR-Know-More">
                    The thing about which I would most like to know more
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#ssWiki">Wiki</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- class scrollspy-example -->
    <div class="card card-body">
      <div id="cbss" class="cbss"
      data-bs-spy="scroll" data-bs-target="#navbar-example2"
      data-bs-offset="0" tabindex="0">

        <h3 id="ssToday" class="bg-dark text-white">
          Outline for Today
        </h3>

        {%- include meetings/plan-body-y.html
            mtg=include.mn
        -%}

        <h3 id="ssMedia" class="bg-dark text-white">
          Media
        </h3>

        {%- include meetings/media-body.html
            mtg=include.mn
        -%}

        <h3 id="ssTranscript" class="bg-dark text-white">
          Transcript
        </h3>

        {%- include meetings/transcripts.html
            mtg=include.mn
        -%}

        <h3 id="ssResponses" class="bg-dark text-white">
          Responses
        </h3>

        {%- include meetings/responses.html
            mtg=include.mn
        -%}

        <h3 id="ssWiki" class="bg-dark text-white">
          Wiki
        </h3>

        <p>
          <a target="_blank"
          href="https://urcourses.uregina.ca/mod/wiki/view.php?pageid={{ include.ww }}">
            Link to the UR Courses wiki page for this meeting
          </a>
        </p>

      </div>
    </div>
    <div id="mtgftr" class="card card-footer w-100 bg-info">
    </div>
  </div>
</div>
<script>
$(document).ready(function(){
  var cbss = document.getElementById('cbss');
  var scrollheight = document.getElementById('mcb').offsetHeight;
  console.log('mcb',scrollheight)
  var scrollheight = scrollheight - document.getElementById('mcbftr').offsetHeight;
  console.log('-mcbftr',scrollheight)
  scrollheight = scrollheight - document.getElementById('mtgh1').offsetHeight;
  console.log('-h1',scrollheight)
  scrollheight = scrollheight - document.getElementById('mtghdr').offsetHeight;
  console.log('-mtghdr',scrollheight)
  scrollheight = scrollheight - document.getElementById('mtgftr').offsetHeight;
  console.log('-mtgftr',scrollheight)
  scrollheight = scrollheight - 10;

  cbss.style.height = scrollheight + 'px'
  console.log('cbss.style.height',cbss.style.height )
})
</script>
