{%- include teaching/url.html %}
{%- assign planfile = site.data.teaching[jcrs_id][crs_sem]plan %}
{%- assign mtn = include.mn | prepend: '00' | slice: -2, 2  %}

<h1>
  Mtg {{ include.mn }}/{{ include.tm }}: {{ include.md | date: '%a-%d-%b-%Y' }}
</h1>
<div class="card">
  <div class="card card-header lightcthru">
  <div class="row">
    <div class="col-2">
      <button>
        <
      </button>
      1
      <button>
        >
      </button>
    </div>
    <div class="col-10 text-start">
  <ul class="nav nav-pills" id="navbar-example2">
    <li class="nav-item">
      <a class="nav-link" href="#ssToday">Today</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#ssMedia">Media</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#ssTranscripts">Transcripts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#ssResponses">Responses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#ssWiki">Wiki</a>
    </li>
  </ul>
  </div>
</div>
</div>
<!-- class scrollspy-example -->
<div class="card card-body cbss"
  data-bs-spy="scroll" data-bs-target="#navbar-example2"
  data-bs-offset="0" tabindex="0">

  <h3 id="ssToday">
    Today
  </h3>

  {%- include meetings/plan-body.html
      mtg=include.mn
  -%}

  <h3 id="ssMedia">
    Media
  </h3>

  {%- include meetings/media-body.html
      mtg=include.mn
  -%}

  <h3 id="ssTranscripts">
    Transcripts
  </h3>

  {%- include meetings/transcripts.html 
      mtg=include.mn
  -%}

  <h3 id="ssResponses">
    Responses
  </h3>

  {%- include meetings/responses.html
      mtg=include.mn
  -%}

  <h4 id="scrollspyHeading5">Fifth heading</h4>

  <p>
    This is some placeholder content for the scrollspy page. Note that as you scroll down the page, the appropriate navigation link is highlighted. It's repeated throughout the component example. We keep adding some more example copy here to emphasize the scrolling and highlighting.
  </p>
</div>
