{%- include teaching/url.html %}
{%- assign planfile = site.data.teaching[jcrs_id][crs_sem]plan %}
{%- assign mtn = include.mn | prepend: '00' | slice: -2, 2  %}
<!-- Access to Other Meetings - Paginated -->
{%
  include meetings/pagination.html
  tm=include.tm
  cm=include.mn
 %}
 {%comment%}{%- endcomment %}
<div class="card">
  <!-- Meeting Date as card header -->
  <div class="card card-header lightcthru">
    <h1>
      {{ include.md | date: '%a-%d-%b-%Y' }}
    </h1>
  </div>
  <div class="card card-body">
  {%-  assign lvl = 'h5'  %}

  <!-- Upcoming Events -->
  {%- capture upurl -%}https://urcourses.uregina.ca/calendar/view.php?view=upcoming&course={{ crs_urc }}{%- endcapture -%}
  {%-
    include helper/lnk-card.html
    label="Upcoming Events" level=lvl
    id='EVENTS' url=upurl
   -%}
  {%- comment %}{%- endcomment %}


<!-- Plan for Today's Meeting -->
{%- include helper/pd-card.html
   test=planfile label="Plan for this Meeting" level=lvl
   open='n' mtg=include.mn pass='y' id='MTGPLAN' body='meetings/plan-body.html'
%}

  <hr /><!-- Before/After this Meeting --><hr />

  <!-- Media from this Meeting -->


  {%- assign mtn = include.mn | prepend: '00' | slice: -2, 2  -%}
  {%- comment %}
  {%-
    include helper/pd-card.html
    test=tfile label="Summary of this Meeting" level=lvl
    pass='y' mtg=mtn open='n' id='MTGRECORD'
    body='meetings/transcript-body.html'
  -%}
  {%-
    include helper/pd-card.html
    test=rfile label="Responses to Last Meeting" level=lvl
    open='n' mtg=lmt pass='y' id='MTGREV'
    body='meetings/response-body.html'
   -%}
  {%- endcomment %}
  {%- assign has_media = false -%}
  {%- for m in site.data.teaching[jcrs_id][crs_sem]media -%}
    {%- if m.meet == mtn -%}
      {%- assign has_media = true -%}
      {%- break -%}
    {%- endif -%}
  {%- endfor -%}
  {%-
    include helper/pd-card.html
    test=has_media label="Media from this Meeting" level=lvl
    pass='y' mtg=mtn open='n' id='MTGMEDIA'
    body='meetings/media-body.html'
  -%}

  {%- assign tfile = site.data.teaching[jcrs_id][crs_sem]summary[mtn] %}

    {%- capture surl -%}/teaching/{{ crs_id }}/{{ crs_sem }}/meetings/{{ mtn }}_S.html{%- endcapture -%}
    {%- capture srurl -%}{{ surl | absolute_url }}{%- endcapture -%}

    {%- if 1 -%}
    {%-
      include helper/lnk-card.html
      label='Summary of Meeting' level='h5'
      id='SUMMARY' url=srurl
     -%}

  {%- endif %}
  <!-- Responses to Meeting -->
  {%- assign rfile = site.data.teaching[jcrs_id][crs_sem]responses[lmtn] -%}
  {%- capture rurl -%}/teaching/{{ crs_id }}/{{ crs_sem }}/meetings/{{ mtn }}_R.html{%- endcapture -%}
  {%- capture rrurl -%}{{ rurl | absolute_url }}{%- endcapture -%}

  {%- if 1 -%}
  {%-
    include helper/lnk-card.html
    label='Responses to Meeting' level='h5'
    id='RESPONSES' url=rrurl
   -%}

  {%- endif -%}
  </div>
</div>
