{%- assign pixlist = "" -%}
{%- assign audio_url = "" -%}

{%- for m in site.data.teaching[jcrs_id][crs_sem]media -%}
  {%- if m.meet == mtgstr -%}
    {%- if m.file contains "jpg" or m.file contains "png" -%}
      {%- capture pixlist -%}{{pixlist}}|{{m.file}}#{{m.URL}}{%- endcapture -%}
    {%- endif -%}
    {%- if m.file contains "m4a" -%}
      {% assign audio_url = m.URL %}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}
{%- assign sortedpix = pixlist | split: '|' | sort -%}
{%- assign numpix = sortedpix.size | minus: 1 -%}
{%- capture carid -%}mtg_pix_{{ mtgstr }}{% endcapture %}
{%- if numpix > 0 -%}
<div id="{{ carid }}" class="m-2 carousel slide bg-light"
data-ride="carousel" data-interval="false">
  <ol class="carousel-indicators bg-dark mb-0">
  {%- for i in (1..numpix) -%}
    {%- if i == 1 %}
    <li data-target="#{{carid}}" data-slide-to="0" class="active"></li>
    {%- else %}
    <li data-target="#{{carid}}" data-slide-to="{{ i | minus: 1}}"></li>
    {%- endif %}
  {%- endfor %}
  </ol>
  <div class="carousel-inner bg-dark">
  {%- for i in (1..numpix) -%}
    {%- if i == 1 %}
    <div class="carousel-item active">
    {%- else %}
    <div class="carousel-item">
    {%- endif -%}
    {% assign sp = sortedpix[i] | split: '#' %}
      <img class="img-fluid d-block w-100" style="max-height: 600px; object-fit: contain;" src="{{ sp[1] }}" alt="{{ sp[0] }}">
    </div>
  {% endfor %}
  </div>
  <a class="carousel-control-prev bg-dark" href="#{{carid}}" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next bg-dark" href="#{{carid}}" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
{%- endif -%}
{% if audio_url != "" %}
<div class="m-2 p-2 w-100 bg-light">
  <audio class="align-center" controls="true"
  src="{{ audio_url }}" type="audio/mp4">
    Your browser does not support the <code>audio</code> element.
  </audio>
</div>
{%- endif -%}
