{% assign mtg_media = "" %}
{% assign mtgstr = include.mtg | prepend: '00' | slice: -2, 2 %}

{% if site.data.teaching.media[include.mediadat] %}
  {%- for m in site.data.teaching.media[include.mediadat] -%}
    {%- if m.meet == mtgstr -%}
      {%- if m.file contains "jpg" -%}
        {%- capture mtg_media -%}{{ mtg_media }}pic,{%- endcapture -%}
      {%- endif -%}
      {%- if m.file contains "m4a" -%}
        {%- capture mtg_media -%}{{ mtg_media }}aud,{%- endcapture -%}
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}
