{% include teaching-url.html %}
{% assign totmeet = page.total_meet | plus: 1 %}
{% assign cur_mtg = page.mtg_nbr | minus: 0  %}
{% assign prv_mtg = cur_mtg | minus: 1 | modulo: totmeet %}
{% if prv_mtg == 0 %}
  {% assign prv_mtg = page.total_meet %}
{% endif %}
{% assign nxt_mtg = cur_mtg | plus: 1 | modulo: totmeet %}
{% if nxt_mtg == 0 %}
  {% assign nxt_mtg = 1 %}
{% endif %}
{% assign prv_lnk = "" %}
{% assign nxt_lnk = "" %}
{%- if site.data.teaching.meetings[off_med] -%}
  {% for m in site.data.teaching.meetings[off_med] %}
  {% assign mm = m.meeting | plus: 0 %}
    {% if mm == prv_mtg %}
      {% assign prv_lnk = m.file %}
    {% endif %}
    {% if mm == nxt_mtg %}
      {% assign nxt_lnk = m.file %}
    {% endif %}
  {% endfor %}
{%- endif -%}

<div class="container-fluid">
  <nav aria-label="mtg">
    <ul class="pagination pagination-sm justify-content-center">
      <li class="page-item">
        <a class="page-link" href="{{ prv_lnk }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
{% assign xs_lb = cur_mtg | minus: 3 %}
{% assign sm_lb = cur_mtg | minus: 6 %}
{% assign md_lb = cur_mtg | minus: 9 %}
{% assign lg_lb = cur_mtg | minus: 12 %}
{% assign xs_ub = xs_lb | plus: 6 %}
{% assign sm_ub = sm_lb | plus: 12 %}
{% assign md_ub = md_lb | plus: 18 %}
{% assign lg_ub = lg_lb | plus: 24 %}
{% assign sm_ctr = 0 | plus: 0 %}
{% assign md_ctr = 0 | plus: 0 %}
{% assign lg_ctr = 0 | plus: 0 %}

{% for m in site.data.teaching.meetings[off_med] %}
  {% assign mm = m.meeting | plus: 0 %}
  {% if mm == cur_mtg %}
      <li class="page-item active">
        <span class="page-link">
          {{ mm }}
          <span class="sr-only">(current)</span>
        </span>
      </li>
  {% else %}
    {% if (mm < lg_lb or mm > lg_ub) %}
      <li class="page-item d-none d-xl-inline">
    {% elsif (mm >= lg_lb and mm < md_lb) or (mm > md_ub and mm <= lg_ub) %}
      <li class="page-item d-none d-xl-inline d-lg-inline">
    {% elsif (mm >= md_lb and mm < sm_lb) or (mm > sm_ub and mm <= md_ub) %}
      <li class="page-item d-none d-xl-inline d-lg-inline d-md-inline">
    {% elsif (mm >= sm_lb and mm < xs_lb) or (mm > xs_ub and mm <= sm_ub) %}
      <li class="page-item d-none d-xl-inline d-lg-inline d-md-inline d-sm-inline">
    {% elsif (mm >= xs_lb and mm <= xs_ub) %}
      <li class="page-item d-inline">
    {% endif %}
        <a class="page-link" href="{{ m.file }}">
          {{ mm }}
        </a>
      </li>
  {% endif %}
{% endfor %}
      <li class="page-item">
        <a class="page-link" href="{{ nxt_lnk }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
