{% include teaching/url.html %}

{% assign mtm = include.tm | plus: 1 %}
{% assign cur_mtg = include.cm | plus: 0 %}

{% assign prv_mtg = cur_mtg | minus: 1 | modulo: mtm %}
{% if prv_mtg == 0 %}
  {% assign prv_mtg = include.tm %}
{% endif %}
{% assign nxt_mtg = cur_mtg | plus: 1 | modulo: mtm %}
{% if nxt_mtg == 0 %}
  {% assign nxt_mtg = 1 %}
{% endif %}
{% assign prv_lnk = "" %}
{% assign nxt_lnk = "" %}
{% if site.data.teaching[jcrs_id][crs_sem]plan %}
  {% for m in site.data.teaching[jcrs_id][crs_sem]plan %}
    {% if m[1].date %}
      {% assign mmtg = m[0] | prepend: '00' | slice: -2, 2 %}
      {% capture mfile %}{{ mmtg }}_{{ m[1].date }}.html{% endcapture %}
      {% capture mfcat %}{{ mfcat }}{{ mfile }},{% endcapture %}
      {% assign mm = mmtg | plus: 0 %}
      {% if mm == prv_mtg %}
        {% assign prv_lnk = mfile %}
      {% endif %}
      {% if mm == nxt_mtg %}
        {% assign nxt_lnk = mfile %}
      {% endif %}
    {%   endif  %}
  {% endfor %}
{%   endif  %}

<div class="container-fluid">
  <nav aria-label="mtg">
    <ul class="pagination justify-content-center">
      {% if include.path %}
      {% else %}
      <li class="page-item">
        <a class="page-link" href="{{ include.path }}{{ prv_lnk }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      {% endif %}
{% assign xs_lb = cur_mtg | minus: 1 %}
{% assign sm_lb = cur_mtg | minus: 2 %}
{% assign md_lb = cur_mtg | minus: 4 %}
{% assign lg_lb = cur_mtg | minus: 8 %}
{% assign xs_ub = cur_mtg | plus: 1 %}
{% assign sm_ub = cur_mtg | plus: 2 %}
{% assign md_ub = cur_mtg | plus: 4 %}
{% assign lg_ub = cur_mtg | plus: 8 %}
{% assign sm_ctr = 0 | plus: 0 %}
{% assign md_ctr = 0 | plus: 0 %}
{% assign lg_ctr = 0 | plus: 0 %}

{% assign mflist = mfcat | split: "," %}
{% for mf in mflist %}
  {% if mf %}
    {% assign mms = mf | split: "_" %}
    {% assign mtn = mms[0] | plus: 0 %}
    {% assign pcl = "" %}
    {% if mtn != cur_mtg or include.path %}
      {% if ((mtn < lg_lb) or (mtn > lg_ub)) %}
        {% assign pcl = "page-item d-none d-xl-inline" %}
      {% elsif (mtn >= lg_lb and mtn < md_lb) or (mtn > md_ub and mtn <= lg_ub) %}
        {% assign pcl = "page-item d-none d-xl-inline d-lg-inline" %}
      {% elsif (mtn >= md_lb and mtn < sm_lb) or (mtn > sm_ub and mtn <= md_ub) %}
        {% assign pcl = "page-item d-none d-xl-inline d-lg-inline d-md-inline" %}
      {% elsif (mtn >= sm_lb and mtn < xs_lb) or (mtn > xs_ub and mtn <= sm_ub) %}
        {% assign pcl = "page-item d-none d-xl-inline d-lg-inline d-md-inline d-sm-inline">
      {% elsif (mtn >= xs_lb and mtn <= xs_ub) %}
        {% assign pcl = "page-item d-inline" %}
      {% endif %}
      <li class="{{ pcl }}">
        {% if mtn == cur_mtg %}
        <a class="page-link bg-info text-white" href="{{ include.path }}{{ mf }}">
        {% else %}
        <a class="page-link" href="{{ include.path }}{{ mf }}">
        {% endif %}
          {{ mtn }}
        </a>
      </li>
    {% else %}
      <li class="page-item active">
        <span class="page-link">
          {{ mtn }}
          <span class="sr-only">(current)</span>
        </span>
      </li>
    {% endif %}
  {% endif %}
{% endfor %}
{% if include.path %}
{% else %}
      <li class="page-item">
        <a class="page-link" href="{{ include.path }}{{ nxt_lnk }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
{% endif %}
    </ul>
  </nav>
</div>
