{% comment %}
  {% include teaching/url.html %}
{% endcomment %}
{%- assign planfile = site.data.teaching[jcrs_id][crs_sem]plan %}

{%- assign mtgplan = nil %}
{%- for mtgs in include.test %}
  {%- if mtgs[0] == include.mtg %}
    {%- assign mtgplan = mtgs %}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}

{%- if mtgplan != nil -%}
  {%- if mtgplan[1].theme -%}
  <h6>
    {{ mtgplan[1].theme }}
  </h6>
  {%- endif -%}
  {%- for bk in mtgplan[1].BOK -%}
    {%- if bk.kaku -%}
      {%- assign kaku = bk.kaku | split: "/" -%}
      {%- assign kaaa = kaku[0] -%}
      {%- assign kuuu = kaku[1] -%}
      <h6 class="bg-dark text-white">
        {{ kaaa }} / {{ kuuu | replace: "--",", " | replace: "-"," " | replace: "_","-" | slice: 3, kuuu.size }}
      </h6>
      {%- assign cur_dat = site.data.teaching.CS2013[kaaa][kuuu] -%}
      <ul>
      {%- if cur_dat and bk.topics -%}
        <li>
          Topics:
          <ul>
            {%- for bkt in bk.topics %}
              {%- for csct in cur_dat.topics -%}
                {%- if bkt == csct.label %}
                  <li>{{ csct.desc }}</li>
                {%- endif %}
              {%- endfor -%}
            {%- endfor %}
          </ul>
        </li>
      {%- endif -%}
      {%- if cur_dat and bk.outcomes -%}
        <li>
          Learning Outcomes:
          <ul>
          {%- for ho in bk.outcomes %}
            {%- for co in cur_dat.outcomes -%}
              {%- if ho == co.label %}
                <li>{{ co.desc }}</li>
              {%- endif %}
            {%- endfor -%}
          {%- endfor %}
          </ul>
        </li>
      {%- endif -%}
      </ul>
    {%- endif -%}
  {%- endfor %}
  {%- if mtgplan[1].outline -%}
  <h6 class="bg-dark text-white">
    Outline
  </h6>
  <ul>
  {% comment %}
  {%- for ol in ts[1] -%}
    {%- if ol.url -%}
    <li><a href="{{ ol.url }}">{{ ol.desc }}</a></li>
    {%- else -%}
    <li>{{ ol.desc }}</li>
    {%- endif -%}
  {%- endfor -%}
  {% endcomment %}

  {%- for ol in mtgplan[1].outline -%}
    {%- if ol.url -%}
      <li>
        <a href="{{ ol.url }}">
          {{ ol.desc }}
        </a>
      </li>
    {%- elsif ol.img -%}
      <div class="m-2 p-2 border">
        {% assign iname = ol.img %}
        {% assign idesc = ol.desc %}
        {% include helper/figure.html
          name=iname desc=idesc %}
      </div>
    {%- elsif ol.vid -%}
      <div class="m-2 p-2 border">
        {% assign vurl = ol.vid %}
        {% assign vdesc = ol.desc %}
        {% include helper/video.html
          vidurl=vurl desc=vdesc %}
      </div>
    {%- elsif ol.todo -%}
      <div class="m-2 p-2 bg-warning">
        <h6 class="text-center">
          {{ ol.todo | upcase }}
        </h6>
        <p class="text-center">
          {{ ol.desc }}
        </p>
      </div>
    {%- elsif ol.concept -%}
      <div class="m-2 p-2 bg-primary">
        <h6 class="text-center">
          {{ ol.concept | upcase }}
        </h6>
        <p class="text-center">
          {{ ol.desc }}
        </p>
      </div>
    {%- else -%}
      <li>
        {{ ol.desc }}
      </li>
    {%- endif -%}
  {%- endfor -%}
  </ul>
  {%- endif %}
  {%- if mtgplan[1].notes -%}
    <h6 class="bg-dark text-white">
      Notes
    </h6>
    <ul>
      {%- for hn in mtgplan[1].notes %}
        {%- capture noteurl %}/teaching/notes/{{ hn }}.html{%- endcapture %}
        {%- for note in site.notes %}
          {%- if note.url == noteurl %}
            <li>
              <a href="{{ noteurl | relative_url }}">
                {{ note.title }}
              </a>
            </li>
            {%- break %}
          {%- endif %}
        {%- endfor %}
      {%- endfor %}
    </ul>
  {%- endif -%}
{%- endif %}
