{%- assign incmtg = include.mtg | plus: 0 -%}
{%- assign plan = site.data.teaching[jcrs_id][crs_sem]plan -%}
{%- assign mtg = plan.meetings | find: "mtgnbr", incmtg -%}

{%- if mtg != nil -%}
  {%- if mtg.theme -%}
  <h4>
    <em>
      {{ mtg.theme }}
    </em>
  </h4>
  {%- endif -%}

  {%- if mtg.admin -%}
  <h4>
    Administration
  </h4>
  {{ mtg.admin | markdownify }}
  {%- endif -%}

  {%- if mtg.r2r -%}
  <h4>
    Response to Responses
  </h4>
  {{ mtg.r2r | markdownify }}
  {%- endif -%}

  {%- if mtg.results -%}
  <h4>
    Results from Last Meeting
  </h4>
  {{ mtg.results | markdownify }}
  {%- endif -%}

  {%- if mtg.today -%}
  <h4>
    Today
  </h4>
  {{ mtg.today | markdownify }}
  {%- endif -%}

  {%- if mtg.summ -%}
  <h4>
    Summary
  </h4>
  {{ mtg.summ | markdownify }}
  {%- endif -%}
  
  {%- if mtg.next -%}
  <h4>
    For Next Meeting
  </h4>
  {{ mtg.next | markdownify }}
  {%- endif -%}
{%- endif -%}