{%- include teaching/url.html -%}
{%- assign mtn = include.mtg | prepend: '00' | slice: -2, 2  -%}
{%- assign rfile = site.data.teaching[jcrs_id][crs_sem]responses[mtn] -%}
{%- if rfile != nil -%}
  {%- if rfile.important != nil -%}
  <h5>
    The most important thing that I learned:
  </h5>
    {%-
      include helper/yaml-unit-body.html
      test=rfile.important
    -%}
  {%- endif %}
  {%- if rfile.difficult != nil -%}
  <h5>
    The most difficult thing for me to understand:
  </h5>
    {%-
      include helper/yaml-unit-body.html
      test=rfile.difficult
    -%}
  {%- endif %}
  {%- if rfile.know-more != nil -%}
  <h5>
    The thing about which I would most like to know more:
  </h5>
    {%-
      include helper/yaml-unit-body.html
      test=rfile.know-more
    -%}
  {%- endif %}
{%- else -%}
 <p class="text-muted">
   No Responses
 </p>
{%- endif %}
