{% include teaching/url.html %}
{% assign planfile = site.data.teaching[jcrs_id][crs_sem]plan %}
{% assign mtn = include.mtg | prepend: '00' | slice: -2, 2  %}
{% assign summary = site.data.teaching[jcrs_id][crs_sem]summary[mtn] %}


  {%- assign mtgdat = blank -%}
{%- for mtgs in planfile -%}
  {%- if mtgs[0] == include.mtg -%}
    {%- assign mtgdat = mtgs[1] -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}
  {% comment %}
{%- if mtgdat != blank -%}
<div>
  {%- assign bok = mtgdat.BOK -%}
  {%- for bb in bok -%}
    {%- assign kaku = bb.kaku | split: "/" -%}
    <h6>
    {{ kaku[0] }} / {{ kaku[1] | replace: "--",", " | replace: "-"," " | replace: "_","-" | slice: 3, kaku[1].size }}
    </h6>
  {%- endfor -%}
  {%- endif -%}

    {%- assign tfile = site.data.teaching[jcrs_id][crs_sem]summary[mtn] %}
    {%- if tfile != nil -%}
      {%-
        include helper/pd-card.html
        test=tfile label="Summary" level=lvl
        pass='y' mtg=mtn open='y' id='MTGRECORD'
        body='meetings/transcript-body.html'
      -%}
    {%- endif %}
    {% endcomment %}

    {%- assign tfile = site.data.teaching[jcrs_id][crs_sem]summary[mtn] %}

    {% for ts in tfile %}
      {% assign tmstmp = ts[0] %}
      {% assign tslab = tmstmp | replace: "-", " " %}
      {% assign taghash =  %}
      {% assign tagopen = 'n' %}

      {%-
        include helper/pd-card.html
        test=ts label=tslab level='h6'
        open=tagopen id=tmstmp body='meetings/transcript-hhmm-body.html'
      -%}
    {% endfor %}

  {% comment %}
  <h6>
    Summary
  </h6>
  <div class="container-fluid">
  {%- capture lastmtg_frag -%}{{ mtn }}_{{ mtgdat.date }}.html#collapse_{% endcapture %}
  {%- for ts in summary -%}
    {%- assign hlwt = ts[1].tags -%}
    {%- if hlwt[0].desc != nil -%}
    <div class="row border align-items-center">
      <div class="col-sm-2">
        <a class="btn btn-primary" role="button"
        href="{{ lastmtg_frag }}{{ ts[0] }}">
          {{ ts[0] }}
        </a>
      </div>
      <div class="col-sm-10">
        {%-
          include helper/tags.html
          th=hlwt
        -%}
      </div>
    </div>
    {%- endif -%}
  {%- endfor -%}
  </div>

</div>
{%- endif -%}
{% endcomment %}
