{% include teaching/url.html %}
{% assign planfile = site.data.teaching[jcrs_id][crs_sem]plan %}
{% assign mtn = include.mtg | prepend: '00' | slice: -2, 2  %}
{% assign transcript = site.data.teaching[jcrs_id][crs_sem]transcript[mtn] %}

{% for mtgs in planfile %}
  {% if mtgs[0] == include.mtg %}
    {% assign hkk = mtgs[1].BOK %}
    {% for hh in hkk %}
      {%- assign kaku = hh.kaku | split: "/" -%}
      {%- assign kaaa = kaku[0] -%}
      {%- assign kuuu = kaku[1] -%}
      <h5>{{ kaaa }} / {{ kuuu | replace: "--",", " | replace: "-"," " | replace: "_","-" | slice: 3, kuuu.size }}</h5>
      {%- assign cur_dat = site.data.teaching.CS2013[kaaa][kuuu] -%}
      {%- if cur_dat -%}
      <ul>
        <li>
          Topics:
          <ul>
          {% for ht in hh.topics %}
            {%- for ct in cur_dat.topics -%}
              {% if ht == ct.label %}
                <li>{{ ct.desc }}</li>
              {% endif %}
            {%- endfor -%}
          {% endfor %}
          </ul>
        </li>
        <li>
          Learning Outcomes:
          <ul>
          {% for ho in hh.outcomes %}
            {%- for co in cur_dat.outcomes -%}
              {% if ho == co.label %}
                <li>{{ co.desc }}</li>
              {% endif %}
            {%- endfor -%}
          {% endfor %}
          </ul>
        </li>
        <li>
          Notes:
          <ul>
          {% for hn in hh.notes %}
            {% capture noteurl %}/teaching/notes/{{ hn }}.html{% endcapture %}
            {% for note in site.notes %}
              {% if note.url == noteurl %}
                <li>
                  <a href="{{ noteurl | absolute_url }}">
                    {{ note.title }}
                  </a>
                </li>
                {% break %}
              {% endif %}
            {% endfor %}
          {% endfor %}
          </ul>
        </li>
      </ul>
    {%- endif -%}
    {% endfor %}
    {% break %}
  {% endif %}
{% endfor %}
{%- if transcript -%}
  {%- assign hltags = '' %}
  {% for ts in transcript %}
    {%- for hlwt in ts[1].tags -%}
      {%- if hlwt contains 'img' -%}
        {%- assign hltags = 'true' %}
        {% break %}
      {%- endif -%}
    {% endfor %}
  {% endfor %}
  {% if hltags == 'true' %}
<h5>
  Highlights from Transcript
</h5>
<div class="container-fluid">
  {% for ts in transcript %}
    {%- for hlwt in ts[1].tags -%}
      {%- if hlwt contains 'img' -%}
    <div class="row border align-items-center">
      <div class="col-sm-2">
        {{ ts[0] }}
      </div>
      <div class="col-sm-10">
          {% include helper/figure.html
            name=hlwt.img desc=hlwt.desc %}
      </div>
    </div>
        {% endif %}
      {% endfor %}
  {% endfor %}
</div>
  {%- endif -%}
{%- endif -%}
