{% include teaching/url.html %}
{% assign planfile = site.data.teaching[jcrs_id][crs_sem]plan %}
{% assign mtn = include.mtg | prepend: '00' | slice: -2, 2  %}

{% if planfile %}
<div class="card" id="todaysplan-card">
  <div class="card-header" role="tab" id="heading_REV">
    <h3 class="mb-0">
      <a class="xtra collapse show" data-toggle="collapse"
      href="#collapse_REV"
      aria-expanded="true" aria-controls="collapse_REV">
        Review of Last Meeting
      </a>
    </h3>
  </div>

  <div id="collapse_REV" class="collapse show"
  aria-labelledby="heading_REV">
    <div class="card card-body">
    {% for mtgs in planfile %}
        {% if mtgs[0] == include.mtg %}
          {% assign hkk = mtgs[1].BOK %}
          {% for hh in hkk %}
            {%- assign kaku = hh.kaku | split: "/" -%}
            {%- assign kaaa = kaku[0] -%}
            {%- assign kuuu = kaku[1] -%}
            <h5>{{ kaaa }} / {{ kuuu | replace: "--",", " | replace: "-"," " | replace: "_","-" | slice: 3, kuuu.size }}</h5>
            {%- assign cur_dat = site.data.teaching.CS2013[kaaa][kuuu] -%}
            {%- if cur_dat -%}
            <ul>
              <li>Topics:
                <ul>
                  {% for ht in hh.topics %}
                    {%- for ct in cur_dat.topics -%}
                      {% if ht == ct.label %}
                        <li>{{ ct.desc }}</li>
                      {% endif %}
                    {%- endfor -%}
                  {% endfor %}
                </ul>
              </li>
              <li>Learning Outcomes:
                <ul>
                  {% for ho in hh.outcomes %}
                    {%- for co in cur_dat.outcomes -%}
                      {% if ho == co.label %}
                        <li>{{ co.desc }}</li>
                      {% endif %}
                    {%- endfor -%}
                  {% endfor %}
                </ul>
              </li>
              <li>Notes:
                <ul>
                  {% for hn in hh.notes %}
                    {% capture noteurl %}/teaching/notes/{{ hn }}.html{% endcapture %}
                    {% for note in site.notes %}
                      {% if note.url == noteurl %}
                        <li>
                          <a href="{{ noteurl | absolute_url }}">
                            {{ note.title }}
                          </a>
                        </li>
                        {% break %}
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                </ul>
              </li>
            </ul>
          {%- endif -%}
        {% endfor %}
        {% break %}
      {% endif %}
    {% endfor %}
    </div>
  </div>
</div>
{% endif %}
