{% for su in include.test %}
  {% if su[0] != 'offering' %}
    {% assign suslug = su[0] %}
    {% assign suname = suslug | replace: "-", " " %}
    {% assign taghash =  %}
    {% assign tagopen = 'n' %}
    {% for sui in su[1].tags %}
      {% for it in sui %}
        {% if it[0] == 'open' %}
          {% assign tagopen = it[1] %}
          {% break %}
        {% endif %}
      {% endfor %}
    {% endfor %}
    {%-
      include helper/pd-card.html
      test=su label=suname level='h6'
      open=tagopen id=suslug body='helper/yaml-unit-body.html'
    -%}
  {% endif %}
{% endfor %}
