
{% include teaching/url.html %}
{% assign chatfile = site.data.teaching.chat %}

{% if chatfile %}
<div class="card" id="zoomchat-card">
  <div class="card-header" role="tab" id="heading_ZC">
    <h3 class="mb-0">
      <a class="xtra collapsed" data-toggle="collapse"
      href="#collapse_ZC"
      aria-expanded="false" aria-controls="collapse_ZC">
        Zoom Chat from Meeting
      </a>
    </h3>
  </div>

<div id="collapse_ZC" class="collapse"
aria-labelledby="heading_ZC">
  <div class="card card-body">
    {% for tss in chatfile %}
    <div class="card">
      <div class="card-header" role="tab" id="heading_{{ mtgs[0] }}">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse"
          href="#collapse_{{ tss[0] }}"
          aria-expanded="false" aria-controls="collapse_{{ mtgs[0] }}">
            {{ tss[0] }}
          </a>
        </h5>
      </div>
      <div id="collapse_{{ tss[0] }}" class="collapse"
      aria-labelledby="heading_{{ tss[0] }}">
        <div class="card card-body">
          <!-- <h5>{{ mtgs[1].theme }}</h5> -->
          {% assign hkk = tss[1].chats %}
          <ul>
          {% for hh in hkk %}
            <li> {{ hh.persid }}:{{ hh.msg }} </li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
{% endif %}
            {% comment %}
            {%- assign kaku = hh.kaku | split: "/" -%}
            {%- assign kaaa = kaku[0] -%}
            {%- assign kuuu = kaku[1] -%}
            <h5>{{ kaaa }} / {{ kuuu | replace: "--",", " | replace: "-"," " | replace: "_","-" | slice: 3, kuuu.size }}</h5>

            {%- assign cur_dat = site.data.teaching.CS2013[kaaa][kuuu] -%}
            {%- if cur_dat -%}
            <ul>
              <li>Topics:
                <ul>
                {% for ht in hh.topics %}
                  {%- for ct in cur_dat.topics -%}
                    {% if ht == ct.label %}
                      <li>{{ ct.desc }}</li>
                    {% endif %}
                  {%- endfor -%}
                {% endfor %}
                </ul>
              </li>
              <li>Learning Outcomes:
                <ul>
                {% for ho in hh.outcomes %}
                  {%- for co in cur_dat.outcomes -%}
                    {% if ho == co.label %}
                      <li>{{ co.desc }}</li>
                    {% endif %}
                  {%- endfor -%}
                {% endfor %}
                </ul>
              </li>
              <li>Notes:
                <ul>
                {% for hn in hh.notes %}
                  {% capture noteurl %}/teaching/notes/{{ hn }}.html{% endcapture %}
                  {% for note in site.notes %}
                    {% if note.url == noteurl %}
                      <li>
                        <a href="{{ noteurl | absolute_url }}">
                          {{ note.title }}
                        </a>
                      </li>
                      {% break %}
                    {% endif %}
                  {% endfor %}
                {% endfor %}
                </ul>
              </li>
            </ul>
            {%- endif -%}
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}


    {% endfor %}
  </div>
</div>
{% endif %}
{% endcomment %}
