---
---
/*
 * ensure that parents of page elements have full height:
 * html, body
 */
html {
	margin:0;
	padding:0;
	height:100%;
}

body {
	margin:0;
	padding:0;
	height:100%; 
}

/*
 * style for home page 
 */
.splash {
	background-image: url('{{"/assets/bg/home.jpg" | relative_url}}');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: white;
	text-align: center;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

/*
 * style for about pages
 */
.about {
	background-image: url('{{"/assets/bg/about.jpg" | relative_url}}');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	/*
	color: white;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
	*/
}

/*
 * style for projects pages 
 */
.projects {
	background-image: url('{{"/assets/bg/projects.jpg" | relative_url}}');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	/*
	color: white;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
	*/
}
/*
 * style for research pages
 */
.research {
	background-image: url('{{"/assets/bg/research.jpg" | relative_url}}');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	/*
	color: white;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
	*/
}  
/*
 * style for teaching pages
 */
.teaching {
	background-image: url('{{"/assets/bg/teaching.jpg" | relative_url}}');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	/*
	background-attachment: fixed;
	color: white;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
	*/
}

/*
 * style for rss page 
 */
.rss {
	background-image: url('{{"/assets/bg/rss.jpg" | relative_url}}');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	/*
	color: white;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
	*/
}
/*
 * style for search pages
 */
.search {
	background-image: url('{{"/assets/bg/search.jpg" | relative_url}}');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	/*
	color: white;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
	*/
}
/*
 * style for news page 
 */
.news {
	background-image: url('{{"/assets/bg/news.jpg" | relative_url}}');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	/*
	color: white;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
	*/
}

/*
 * vertical alignment style for text in grid column
 */ 
 /*
.vertical-align {

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%; 
}
*/

.darkcthru {
	/* padding: 8px; 
	margin: 8px; */
	background-color: rgba(32, 32, 32, 0.75);
	color: white
}

.lightcthru {
	/* padding: 8px; 
	margin: 8px; */
	background-color: rgba(248, 249, 250, 0.75); 
	color: black
}
