html, body {
  margin: 0;
  padding: 0;
}
div {
  position: relative;
}
canvas {
  display: inline;
  background-color: blue;
  width: 100%;
  height: auto;
}

  /* @media (height: 250px) {
    div {
      border: 8px solid red;
    }
  } */

  /* Minimum height */
  /* @media (min-height: 260px) {
    div {
      background: yellow;
    }
  } */

  /* Maximum height */
  /* @media (max-height: 240px) {
    div {
      border: 2px solid blue;
    }
  } */

.cbss {
  position: relative;
  overflow-y: scroll;
  /* height: 40vh; */
  height: 320px;
  tabindex: 0
}

.homecol {
  height: 75vh;
}

.C {
  background-color: rgba(95,158,160,0.75);
}
.M {
	background-color: rgba(128,64,0,0.75);
}
.O {
	background-color: rgba(128,128,0,0.75);
}
.B {
	background-color: rgba(245,245,220,0.75);
}
