{%- assign semdat = "" -%}
{%- assign semdat = site.data.teaching.semesters | where: "semester", include.cs -%}
<div class="card m-2">
  <h3 class="card-header">
    Important Dates
  </h3>
  <div class="card-body">
    <ul>
      <li>First day of term: {{ semdat[0].term-start | date: '%a-%d-%b-%Y'}}</li>
    	<li>Last day of classes: {{ semdat[0].class-end | date: '%a-%d-%b-%Y'}}</li>
      <li>Last day of term: {{ semdat[0].term-end | date: '%a-%d-%b-%Y'}}</li>
    </ul>
  </div>
</div>

{%- assign offs = "" -%}
{%- assign offs = site.data.teaching.offerings | where: "semester", include.cs -%}
{% if offs.size > 0 %}
<div class="card m-2">
  <h3 class="card-header">
    Courses Taught this Semester
  </h3>
  <div class="card-body">
    <ul>
    {% for o in offs %}
      <li>
        {%- assign crss = site.data.teaching.courses | where: "id", o.id -%}
        {% capture off_url %}/teaching/{{ o.id }}/{{ include.cs }}{% endcapture %}
        <a href="{{ off_url | relative_url }}">
          {{ crss[0].id | replace: "-"," " }} : {{ crss[0].name }}
        </a>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endif %}

{% if offs.size > 0 and page.officeblocks %}
<div class="card m-2">
  <h3 class="card-header">
    Office Hours this Semester
  </h3>
  <div class="card-body">
    <ul>
    {%- for ob in page.officeblocks -%}
      <li>
        {{ ob.day }} from
        {{ ob.open | date: '%H:%M'}} until
        {{ ob.close | date: '%H:%M'}}
      </li>
    {%- endfor -%}
    </ul>
    <p>
      During my office hours, I will be available in my office (CW 308.22) and via zoom.
      If you need to speak with me outside of my office hours, please
      <a href="mailto:{{ site.email }}?subject=Request for an appointment outside of office hours">
        request an appointment.
      </a>
    </p>
  </div>
</div>
{% endif %}
