{%- assign offs = "" -%}
{%- assign offs = site.data.teaching.offerings | where: "semester", include.cs -%}
{% if offs.size > 0 %}
<div class="card my-2" id="this-sem-card">
  <h3 class="card-header text-center">This Semester</h3>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <a href="{{ "/teaching/today" | relative_url }}">
          Today
        </a>
      </li>
    {% for o in offs %}
      <li class="list-group-item">
        {%- assign crss = site.data.teaching.courses | where: "id", o.id -%}
        {% capture off_url %}/teaching/{{ o.id }}/{{ include.cs }}{% endcapture %}
        <a href="{{ off_url | relative_url }}">
          {{ crss[0].id | replace: "-"," " }} : {{ crss[0].name }}
        </a>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
{%- endif -%}
