{%- assign url_parts = page.url | remove: ".html" | split: "/" -%}
{%- for part in url_parts -%}
  {%- if part == "teaching" -%}
    {%- assign crs_idx = forloop.index -%}
    {%- assign sem_idx = forloop.index | plus: 1 -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}
{%- assign crs_parts = url_parts[crs_idx] | split: "-" -%}
{%- assign crs_sbj = crs_parts[0] -%}
{%- assign crs_nbr = crs_parts[1] -%}
{%- assign crs_sem = url_parts[sem_idx] -%}
{%- assign crs_id = crs_sbj | append: "-" | append: crs_nbr -%}
{%- assign jcrs_id = crs_id | replace: "+", "_" -%}
{%- assign off_id = crs_id | append: "-" | append: crs_sem -%}
{%- assign joff_id = off_id | replace: "+", "_" -%}

{%- for c in site.data.teaching.offerings -%}
  {%- if crs_id == c.id and crs_sem == c.semester -%}
    {%- assign crs_urc = c.urc -%}{%- break -%}
  {%- endif -%}
{%- endfor -%}

{%- assign today_n = site.time | date: "%Y%m%d" | plus: 0 -%}
{%- assign currsem = "" -%}
{%- assign sems = site.data.teaching.all.semesters -%}
{%- if sems -%}{%- assign sems = sems | sort: "term-end" -%}{%- endif -%}
{%- for sem in sems -%}
  {%- assign end_n = sem.term-end | date: "%Y%m%d" | plus: 0 -%}
  {%- if end_n >= today_n -%}
    {%- assign currsem = sem.semester -%}{%- break -%}
  {%- endif -%}
{%- endfor -%}
{%- assign now_sem = currsem -%}
{%- assign off_now = false -%}
{%- if now_sem == crs_sem -%}{%- assign off_now = true -%}{%- endif -%}