{% comment %}{% endcomment %}
{% assign kaaa = page.url | split: "/" | last | remove: ".html" %}
{% assign fili = "" %}
{%- for tlo in site.data.teaching.CS2013[kaaa] -%}
    {% capture fili %}{{ fili }},{{ tlo[0] }}{% endcapture %}
{%- endfor -%}
{% assign sfil = fili | split: "," | sort %}
<h1>Knowledge Units</h1>
{%- for sf in sfil offset: 2 -%}
  {%- assign tlo_dat = site.data.teaching.CS2013[kaaa][sf] -%}
  {%- if tlo_dat -%}
<div class="card" id="{{ sf }}">
  <div class="card-header">
    <h3>{{ sf | replace: "--",", " | replace: "-"," " | replace: "_","-" | slice: 3, sf.size }}</h3>
	</div>
	<div class="card-body">
    {% if tlo_dat.preamble %}
      {%- for pre in tlo_dat.preamble -%}
    <div class="row">
      <div class="col-md-12">
        {% if pre.label %}
        <h5>{{ pre.label }}</h5>
        {% endif %}
        {{ pre.desc | markdownify }}
      </div>
    </div>
      {% endfor %}
    {% endif %}

	  <div class="row">
	    <div class="col-md-6">
	      <h5>Topics</h5>
	      <ol>
          {%- for top in tlo_dat.topics -%}
          <li id="{{ sf }}-{{ top.label }}">{{ top.desc }}
            {%- assign tin = top.import | minus: 0 -%}
            &nbsp;
            {%- for st in (tin..2) -%}
               &starf;
            {%- endfor -%}
            {%- if top.details -%}
            <ul>
              {%- for td in top.details -%}
              <li>{{ td }}</li>
              {%- endfor -%}
            </ul>
            {%- endif -%}
          </li>
          {%- endfor -%} {%comment%}for top {%endcomment%}
	      </ol>
	    </div>
	    <div class="col-md-6">
	      <h5>Learning Outcomes</h5>
	      <ol>
          {%- for lout in tlo_dat.outcomes -%}
          <li id="{{ sf }}-{{ lout.label }}">{{ lout.desc }}
            {%- assign lin = lout.import | minus: 0 -%}
            &nbsp;
            {%- for st in (lin..2) -%}
               &starf;
            {%- endfor -%}
            {%- if lout.details -%}
            <ul>
              {%- for lod in lout.details -%}
              <li>{{ lod }}</li>
              {%- endfor -%}
            </ul>
            {%- endif -%}
          </li>
          {%- endfor -%} {%comment%}for lout {%endcomment%}
	      </ol>
	    </div>
    </div>
	</div>
</div>
  {%- endif -%}
{%- endfor -%}
