{% assign mtn = include.mtg | prepend: '00' | slice: -2, 2  %}
{% assign response = site.data.teaching[jcrs_id][crs_sem]responses[mtn] %}
{% assign response = include.test %}

{%- if response.important != nil -%}
<h6>
  The most important thing that I learned:
</h6>
  {%-
    include helper/yaml-unit-body.html
    test=response.important
  -%}
{%- endif %}

{%- if response.difficult != nil -%}
<h6>
  The most difficult thing for me to understand:
</h6>
  {%-
    include helper/yaml-unit-body.html
    test=response.difficult
  -%}
{%- endif %}

{%- if response.know-more != nil -%}
<h6>
  The thing about which I would most like to know more:
</h6>
  {%-
    include helper/yaml-unit-body.html
    test=response.know-more
  -%}
{%- endif %}
