{% assign th = include.th %}
{% for tt in include.th %}
  {% if tt.img %}
  <div class="m-2 p-2 border">
    {% assign iname = tt.img %}
    {% assign idesc = tt.desc %}
    {% include helper/figure.html
      name=iname desc=idesc %}
  </div>
  {% endif %}
  {% if tt.video %}
  <div class="m-2 p-2 border">
    {% assign vurl = tt.video %}
    {% assign vdesc = tt.desc %}
    {% include helper/video.html
      vidurl=vurl desc=vdesc %}
  </div>
  {% endif %}
  {% if tt.todo %}
  <div class="m-2 p-2 bg-warning">
    <h6 class="text-center">
      {{ tt.todo | upcase }}
    </h6>
    <p class="text-center">{{ tt.desc }}</p>
    <!-- <p class="text-center">
      <a class="btn btn-warning" role="button"
      href="{{ tt.discuss }}">
        Discussion
      </a>
    </p> -->
  </div>
  {% endif %}
  {% if tt.concept %}
  <div class="m-2 p-2 bg-primary">
    <h6 class="text-center">
      {{ tt.concept | upcase }}
    </h6>
    <!--
    <p class="text-center">{{ tt.desc }}</p>
    -->
  </div>
  {% endif %}
  {% if tt.info %}
  <div class="m-2 p-2 bg-success">
    <h6 class="text-center">
      NOTE
    </h6>
    <p class="text-center">{{ tt.desc }}</p>
  </div>
  {% endif %}
  {% if tt.url %}
  <div class="m-2 p-2 bg-info">
    <h6 class="text-center">
      LINK
    </h6>
    <p class="text-center">
      <a class="text-white bg-info"
      href="{{ tt.url }}">
        {{ tt.desc }}
      </a>
    </p>
  </div>
  {% endif %}
{% endfor %}
