{% assign th = include.th %}
{% for tt in include.th %}
  {% if tt.img %}
  <div class="m-2 p-2 border">
    {% assign iname = tt.img %}
    {% assign idesc = tt.desc %}
    {% include helper/figure.html
      name=iname desc=idesc %}
  </div>
  {% endif %}
  {% if tt.todo %}
  <div class="m-2 p-2 bg-warning">
    <h6 class="text-center">
      {{ tt.todo | upcase }}
    </h6>
    {% for hh in tt %}
    <p class="text-center"> {{ hh.desc }} </p>
    {% endfor %}
  </div>
  {% endif %}
  {% if tt.blah %}
  <div class="mb-2 bg-warning">
    <h6 class="mb-0 text-center">
      {{ tt.blah | upcase }}
    </h6>
    <p class="text-center">{{ tt.desc }}</p>
  </div>
  {% endif %}
  {% if tt.url %}
  <div class="m-2 p-2 bg-info">
    <h6 class="text-center">
      LINK
    </h6>
    <p class="text-center">
      <a class="text-white bg-info"
      href="{{ tt.url }}">
        {{ tt.desc }}
      </a>
    </p>
  </div>
  {% endif %}
{% endfor %}
