{% comment %}INCLUDE {{ include }} <br/>{% endcomment %}
{% assign yu = include.test %}
{% comment %}yu {{ yu }} <br/>
[*] {{ include.test }} <br/>
[0] {{ include.test[0] }} <br/>
[1] {{ include.test[1] }} <br/>
{% endcomment %}
<ul>
{%- for item in yu -%}
  {% comment %}{{ item}} <br />{% endcomment %}
  {%- if item.url -%}
    READ {{ item.url | absolute_url }}
    <li>
      <a href="{{ item.url }}">
        {{ item.desc }}
      </a>
    </li>
  {%- elsif item.img -%}
    <div class="m-2 p-2 border">
      {% assign iname = item.img %}
      {% assign idesc = item.desc %}
      {% include helper/figure.html
        name=iname desc=idesc %}
    </div>
  {%- elsif item.vid -%}
    <div class="m-2 p-2 border">
      {% assign vurl = item.vid %}
      {% assign vdesc = item.desc %}
      {% include helper/video.html
        vidurl=vurl desc=vdesc %}
    </div>
    {%- elsif item.pdf -%}
      <div class="m-2 p-2 border">
        {% assign pdfname = item.pdf %}
        {% assign pdesc = item.desc %}
        {% include helper/pdf.html
          name=pdfname desc=pdesc %}
      </div>
    {%- elsif item.todo -%}
    <div class="m-2 p-2 bg-warning">
      <h6 class="text-center">
        {{ item.todo | upcase }}
      </h6>
      <p class="text-center">
        {{ item.desc }}
      </p>
    </div>
  {%- elsif item.concept -%}
    <div class="m-2 p-2 bg-primary">
      <h6 class="text-center">
        {{ item.concept | upcase }}
      </h6>
      <p class="text-center">
        {{ item.desc }}
      </p>
    </div>
  {%- else -%}
    <li>
      {%- if item.persid -%}
        <strong>{{ item.persid }}:</strong>&nbsp;
      {%- endif -%}
      {{ item.desc }}
    </li>
  {%- endif -%}
{%- endfor -%}
</ul>
