{% include site/header.html %}
{% assign url_parts = page.url | split: "/" %}
<div class="card {{ url_parts[1] }} w-100 lightcthru" style="min-height:100%" >
  <div class="card-header bg-dark">
    <div class="row align-items-center">
      <div class="col-10">
        {%- include site/breadcrumb-nav.html -%}
      </div>
      <div class="col-2">
        {%- include site/dropdown-nav.html -%}
      </div>
    </div>
  </div>
  <div class="card-body lightcthru" >
    {{ content }}
  </div>
  <div class="card-footer text-muted bg-light">
    Site built: {{ site.time | date: "%Y-%m-%d %H:%M %z" }} &nbsp;&bull;&nbsp;
    <a href="mailto:{{site.email}}?subject=Feedback about webpage: {{ page.url | absolute_url }}">
      Give feedback <span class="d-none d-sm-inline">about page</span>
    </a>
  </div>
</div>
{% include site/footer.html %}
