{% include header.html %}
<div class="card bg-light">
    {% include works-nav.html %}
    <div class="card-body">
	<h1>{{ page.title }}</h1>
	<hr>	
	<!-- Projects -->
	{% include projects-bar.html %}
	<hr>	
	<!-- Social Share Buttons -->
	{% include share-bar.html %}
	<hr />

	<h3>{{page.category | capitalize }}</h3>
			
	<h3>Authors</h3>

	<h3>Abstract</h3>
	{{ description }}

	<h3>BibTeX</h3>
	<!-- Target -->
	<div class="border border-primary rounded">
	<a id="clipboard" href="#clipboard" 
	class="btn btn-primary" aria-label="Copy BibTeX entry" 
	data-clipboard-action="copy" data-clipboard-target="#bibtex">
                <span class="far fa-clipboard fa-inverse" title="Copy BibTeX entry"></span>
        </a>
	<code><pre id="bibtex">{{ content | remove: '<p>' | remove: '</p>' | strip }}</pre></code>
	</div>
    </div>

    {% include site-date.html %}
</div>
{% include footer.html %}
