{% include site/header.html %}
{% assign url_parts = page.url | split: "/" %}
<div class="card {{url_parts[1]}} w-100 lightcthru" style="min-height:100%" >
  {% include gallery-nav-transp.html %}
  <div class="card-body lightcthru" >
    <h1>
      {{ page.breadcrumb }}
    </h1>
    <hr />
    <!-- Social Share + Search Buttons -->
    {% include share-search-image-bar.html %}
    <hr />
    <figure>
      <img src="{{ page.image | relative_url }}" alt="{{page.breadcrumb}}" />
      <figcaption>
        {{ page.breadcrumb }} &mdash; by
    {% assign pac = page.authors.size %}
    {% assign curpa = 1 %}
    {% for pa in page.authors %}
      {{ pa | strip }}
      {% if pac == 2 and curpa < 2 %}
         and
      {% elsif pac > 2 %}
        {% assign pacm1 = pac | minus: 1 %}
        {% if curpa == pacm1 %}
          {{ ", and" | strip }}
        {% elsif curpa < pacm1 %}
          {{ "," | strip }}
        {% endif %}
      {% endif %}
      {% assign curpa = curpa | plus: 1 %}
    {% endfor %}
     </figcaption>
    </figure>
  </div>
  {% include site-date-transp.html %}
</div>
{% include footer.html %}
