---
layout: bg-image
group:
- category
- project
---
<h1>
	Gallery
</h1>

<div class="container">
{% for item in site.gallery reversed %}
  <div class="row mb-2">
    <div class="col">
      <a href="{{ item.url | relative_url }}">
      <img src="{{ item.thumbnail | relative_url }}" class="rounded float-right" alt="{{item.thumbnail}}" />
      </a>
    </div>
    <div class="col justify-content-start">
      <a href="{{ item.url | relative_url }}">
      {{ item.breadcrumb }}
      </a>
    </div>
  </div>
{% endfor %}
</div>
