{% include site/header.html %}
{% assign url_parts = page.url | split: "/" %}
<div class="card {{url_parts[1]}} w-100 lightcthru" style="min-height:100%" >
  {% include news-nav-transp.html %}
  <div class="card-body lightcthru" >
    <h1>
      {{ page.breadcrumb }}
    </h1>
    <h3>
      {{ page.date | date: "%Y-%m-%d" }}
    </h3>
    <hr />
    <!-- Projects -->
    {% include projects-bar.html %}
    <hr />
    <!-- Social Share + Search Buttons -->
    {% include share-search-bar.html %}
    <hr />
    <p>
    {{ page.content }}
    </p>
  </div>
  {% include site-date-transp.html %}
</div>
{% include footer.html %}
