{% include site/header.html %}
{% assign url_parts = page.url | split: "/" %}
<div class="card {{ url_parts[1] }} w-100 h-100 bg-transparent">
  {% include site/content-header.html type="notes" %}
  <div class="card-body bg-white text-dark bg-opacity-50 overflow-auto" >
    <div class="bg-light p-3 mb-2">
      <h1>
        {{ page.breadcrumb }}
      </h1>
    </div>
    <div>
      {{ page.content | markdownify }}
    </div>
  </div>
  {% include site/content-footer.html %}
</div>
{% include site/footer.html %}
