{% include header.html %}
{% assign url_parts = page.url | split: "/" %}
<div class="card {{url_parts[1]}} container-fluid" style="min-height:100%" >
  {% include breadcrumb-nav-transp.html %}
  <div class="card-body container-fluid lightcthru" >
	{%comment%}
    <div class="row">
      <div class="col">&nbsp;</div>
      <div class="col" id="dhhblock">
	{%endcomment%}
        {{ content }}
	{%comment%}
      </div>
      <div class="col">&nbsp;</div>
    </div>
	{%endcomment%}
  </div>
  {% include site-date-transp.html %}
</div>
{% include footer.html %}
